<template>
  <div>
    <header id="header" class="fixed-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <div class="logo float-left">
              <a href="https://www.adriindia.org/"><img src="assets/img/logo.png" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <div class="col-6">
            <div>
              <h3 class="logo-text">CHP MIS BUDGET</h3>
            </div>
          </div>
          <div class="col-3">
            <div class="noti-div">
              <button
                type="button"
                v-on:click="backbtn()"
                class="btn btn-light head-btn mr-2"
              >
                <i class="fas fa-arrow-left myfafa-icon"></i>
              </button>
              <button
                v-on:click="index()"
                type="button"
                class="btn btn-light head-btn mr-2 ml-2"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Home"
              >
                <i class="fas fa-home myfafa-icon"></i>
              </button>

              <div
                class="btn-group"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Profile"
              >
                <button
                  type="button"
                  class="btn btn-light dropdown-toggle head-btn ml-2"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fas fa-user myfafa-icon"></i>
                </button>

                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" v-on:click="profile()">
                      <i class="far fa-user"></i>
                      Profile</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="far fa-bell"></i>
                      Notification</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item logout" v-on:click="logout()">
                      <i class="fas fa-sign-out-alt"></i>
                      Log Out</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="noti-div-2">
              <small class="pt-2 back-pad">Back</small>
              <small class="pt-2 pr-4">Home</small>
              <small class="pt-2">Profile</small>
            </div>
          </div>
        </div>

        <nav class="main-nav float-right d-none d-lg-block"></nav>
        <!-- .main-nav -->
      </div>
    </header>
    <div class="container-fluid card-cont drop-cont">
      <div class="row box-sh card-row">
        <div class="col-6">
          <div class="p-1 d-flex text-center justify-content-end">
            <div class="dropdown">
              <button
                class="btn btn-link my-btn drop-cont-btn p-1 dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-users myfafa-icon pr-1"></i>
                Create a user
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" v-on:click="organizationPage()"
                    >Organization</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="designationPage()"
                    >Designation</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="memberPage()">Members</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="p-1 d-flex text-center justify-content-start">
            <div class="dropdown">
              <button
                class="btn btn-link my-btn drop-cont-btn p-1 dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-chart-pie myfafa-icon pr-1"></i>
                Analysis
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" v-on:click="existingdbPage()"
                    >Existing Database</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="newdbPage()"
                    >New Database</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <main id="main">
      <section style="background-image: url(assets/img/finance-bg.jpg)">
        <div class="container my-cont-new">
          <div class="row">
            <div class="col-md-6">
              <div class="card card-top-2 box-sh">
                <div class="card-body-2">
                  <a v-on:click="codewisePage()">
                    <img
                      class="img-center pt-2 profile-icon-2"
                      src="assets/img/profile.png"
                    />
                    <h4 class="text-center head-1">Create a User</h4>
                    <div class="text-center">
                      <button
                        type="button"
                        v-on:click="createUser()"
                        class="btn btn-info after-login-btn"
                      >
                        <i class="fas fa-arrow-right fafa-btn"></i>
                      </button>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card card-top-2 box-sh">
                <div class="card-body-2">
                  <a v-on:click="inprogress()">
                    <img
                      class="img-center pt-2 profile-icon-2"
                      src="assets/img/analysis.png"
                    />
                    <h4 class="text-center head-1">Analysis</h4>
                    <div class="text-center">
                      <button
                        type="button"
                        v-on:click="analysis()"
                        class="btn btn-info after-login-btn"
                      >
                        <i class="fas fa-arrow-right fafa-btn"></i>
                      </button>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="card card-top-2 box-sh">
                <div class="card-body-2">
                  <a v-on:click="allotment_entry_table()">
                    <img
                      class="img-center pt-2 profile-icon-2"
                      src="assets/img/allotment.png"
                    />
                    <h4 class="text-center head-1">Allotment Entry</h4>
                    <div class="text-center">
                      <button
                        type="button"
                        v-on:click="analysis()"
                        class="btn btn-info after-login-btn"
                      >
                        <i class="fas fa-arrow-right fafa-btn"></i>
                      </button>
                    </div>
                  </a>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="card card-top-2 box-sh">
                <div class="card-body-2">
                  <a v-on:click="inprogress()">
                    <img
                      class="img-center pt-2 profile-icon-2"
                      src="assets/img/utilities.png"
                    />
                    <h4 class="text-center head-1">Utilization Entry</h4>
                    <div class="text-center">
                      <button
                        type="button"
                        v-on:click="utilization_entry_table()"
                        class="btn btn-info after-login-btn"
                      >
                        <i class="fas fa-arrow-right fafa-btn"></i>
                      </button>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card card-top-2 box-sh">
                <div class="card-body-2">
                  <a v-on:click="master_correction()" class="pt-2">
                    <img
                      class="img-center card-img profile-icon-2"
                      src="assets/img/monitoring.png"
                    />
                    <h4 class="text-center head-1">
                      Master Correction Control
                    </h4>
                    <div class="text-center">
                      <button
                        type="button"
                        v-on:click="analysis()"
                        class="btn btn-info after-login-btn"
                      >
                        <i class="fas fa-arrow-right fafa-btn"></i>
                      </button>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "AfterLoginComponent",
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    createUser() {
      this.$router.push("/create_user");
    },
    analysis() {
      this.$router.push("/analysis");
    },
    logout() {
      const delToken = localStorage.removeItem("user");
      this.$router.push("/");
    },
    organizationPage() {
      this.$router.push("/organization");
    },
    designationPage() {
      this.$router.push("/designation");
    },
    memberPage() {
      this.$router.push("/team_member");
    },
    existingdbPage() {
      this.$router.push("/index1");
    },
    newdbPage() {
      this.$router.push("/upload_file");
    },
    allotment_entry_table() {
      this.$router.push("/allotment_entry_table");
    },
    utilization_entry_table() {
      this.$router.push("/utilization_entry_table");
    },
    master_correction() {
      this.$router.push("/master_correction");
    },
    
  },
};
</script>

<style>
.my-cont {
  padding-top: 100px !important;
}
.chp-login-form {
  border: 1px solid black;
}
.finance-login-button {
  width: 100px;
  height: 40px;
}
.finance-img {
  height: 350px !important;
}
.finance-form {
  height: 350px;
}
.after-login-container {
  padding-top: 30px !important;
}
.profile-icon-2 {
  height: 75px;
  width: 70px;
}
.after-login-btn {
  color: #fff !important;
  border-radius: 50% !important;
  height: 44px;
  width: 44px;
}
.fafa-btn {
  font-size: 24px;
}
.card-col:hover {
  background-image: linear-gradient(
    to right top,
    #5191f0,
    #4ea4eb,
    #29b3f3,
    #5ccdf3,
    #4bd0f5
  );
  color: #fff;
  border-radius: 10px;
}
.card-col:hover button {
  background-image: linear-gradient(
    to right top,
    #f8f8f8,
    #f6fbff,
    #f5fcff,
    #dff7ff,
    #ebfbff
  );
  color: #5191f0 !important;
  border-radius: 10px;
}
.card-body-2 {
  padding-top: 10px;
}
.card-body-2 .after-login-btn:hover {
  background-color: rgb(28, 60, 243);
  color: #fff;
}
.card-body-2:hover button {
  background-image: linear-gradient(
    to right top,
    #f8f8f8,
    #f6fbff,
    #f5fcff,
    #dff7ff,
    #ebfbff
  );
  color: #5191f0 !important;
  border-radius: 10px;
}

.card-col .after-login-btn:hover {
  background-color: rgb(28, 60, 243);
  color: #fff;
}
.head-btn {
  background-color: #fff;
}
.myfafa-icon {
  color: #5191f0;
}
.noti-div-2 {
  float: right;
  margin-top: 53px;
  margin-right: -156px;
}
.back-pad {
  padding-right: 27px;
}
.bg-image {
  height: 575px;
}
.drop-cont-btn {
  font-weight: bold !important;
}
.card-top-2 {
  margin-top: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.911);
  height: 210px;
}
.card-top-2:hover {
  background: rgb(215, 217, 224);
  background-image: linear-gradient(
    to right top,
    #5191f0,
    #4ea4eb,
    #29b3f3,
    #5ccdf3,
    #4bd0f5
  );
  color: #fff !important;
}
.card-top-2:hover h4 {
  color: #fff !important;
}
.my-cont-new {
  padding-top: 120px !important;
  padding-bottom: 50px;
}
</style>
