<template>
  <div>
           <!-- ======= Header ======= -->
        <header id="header" class="fixed-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <div class="logo float-left">
                            <a
                            href="https://www.adriindia.org/"
                                ><img
                    
                                    src="assets/img/logo.png"
                                    alt=""
                                    class="img-fluid"
                            /></a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            <h3 class="logo-text">CHP MIS BUDGET</h3>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="noti-div">
                            <button
                                type="button"
                                v-on:click="backbtn()"
                                class="btn btn-light head-btn mr-2"
                            >
                                <i class="fas fa-arrow-left myfafa-icon"></i>
                            </button>
                            <button
                                v-on:click="index()"
                                type="button"
                                class="btn btn-light head-btn mr-2 ml-2"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="Home"
                            >
                                <i class="fas fa-home myfafa-icon"></i>
                            </button>

                            <div
                                class="btn-group"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="Profile"
                            >
                                <button
                                    type="button"
                                    class="btn btn-light dropdown-toggle head-btn ml-2"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    <i class="fas fa-user myfafa-icon"></i>
                                </button>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            v-on:click="profile()"
                                        >
                                            <i class="far fa-user"></i>
                                            Profile</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="far fa-bell"></i>
                                            Notification</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item logout"
                                            v-on:click="logout()"
                                        >
                                            <i class="fas fa-sign-out-alt"></i>
                                            Log Out</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="noti-div-2">
                            <small class="pt-2 back-pad">Back</small>
                            <small class="pt-2 pr-4">Home</small>
                            <small class="pt-2">Profile</small>
                        </div>
                    </div>
                </div>

                <nav class="main-nav float-right d-none d-lg-block"></nav>
                <!-- .main-nav -->
            </div>
        </header>
        <!-- #header -->
        <div class="container-fluid card-cont drop-cont">
      <div class="row box-sh card-row">
        <div class="col-6">
          <div class="p-1 d-flex text-center justify-content-end">
            <div class="dropdown">
              <button
                class="btn btn-link my-btn drop-cont-btn p-1 dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-users myfafa-icon pr-1"></i>
                Create a user
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" v-on:click="organizationPage()">Organization</a>
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="designationPage()">Designation</a>
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="memberPage()">Members</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="p-1 d-flex text-center justify-content-start">
            <div class="dropdown">
              <button
                class="btn btn-link my-btn drop-cont-btn p-1 dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-chart-pie myfafa-icon pr-1"></i>
                Analysis
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" v-on:click="existingdbPage()">Existing Database</a>
                </li>

                <li>
                  <a class="dropdown-item" v-on:click="newdbPage()">New Database</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section>
            <div class="container-fluid allotedtable-cont">
                <!-- <div class="row">
                    <div class="col-12 pb-3">
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-12">
                        <div class="card-2 white-cont">
                            <div class="p-3">
                                <table
                                    id="example"
                                    class="table table-striped table-bordered"
                                    style="width:100%"
                                >
                                    <thead>
                                        <tr>
                                            <th>DDO Name</th>
                                            <th>Office Name</th>
                                            <th>DDO Code</th>
                                            <th>Alloted Amount</th>
                                            <th>Expenditure Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            v-for="majAp in majorApi"
                                            :key="majAp.id"
                                            :value="majAp.id"
                                        >
                                            <td>{{ majAp.allotted_by }}</td>
                                            <td>{{ majAp.allotted_to }}</td>
                                            <td>{{ majAp.treasury }}</td>
                                            <td>{{ majAp.district }}</td>
                                            <td>{{ majAp.full_code }}</td>
                                           
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="entry-div">
                                    <div class="result">
                                        Showing {{ from }} to {{ to }} of
                                        {{ this.items }} entries
                                    </div>
                                    <div>
                                        <b-pagination
                                            v-model="currentPage"
                                            :total-rows="rows"
                                            :per-page="cols"
                                            aria-controls="listItems"
                                            prev-text="Prev"
                                            next-text="Next"
                                            pills
                                        >
                                        </b-pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  </div>
</template>

<script>
export default {
    name:'AllotmentTableComponent',
    data(){
        return{

        }
    },
    methods:{
        backbtn(){
            this.$router.push('/tab1');
        },
        index(){
            this.$router.push('/index');
        }
    }


}
</script>

<style>
.allotedtable-cont{
    padding-top: 220px;
}
</style>