<template>
  <div>
    <header id="header" class="fixed-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <div class="logo float-left">
              <a href="https://www.adriindia.org/"><img src="assets/img/logo.png" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <div class="col-6">
            <div>
              <h3 class="logo-text">CHP MIS BUDGET</h3>
            </div>
          </div>
          <div class="col-3">
            <div class="noti-div">
              <button
                type="button"
                v-on:click="backbtn()"
                class="btn btn-light head-btn mr-2"
              >
                <i class="fas fa-arrow-left myfafa-icon"></i>
              </button>
              <button
                v-on:click="index()"
                type="button"
                class="btn btn-light head-btn mr-2 ml-2"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Home"
              >
                <i class="fas fa-home myfafa-icon"></i>
              </button>

              <div
                class="btn-group"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Profile"
              >
                <button
                  type="button"
                  class="btn btn-light dropdown-toggle head-btn ml-2"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fas fa-user myfafa-icon"></i>
                </button>

                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" v-on:click="profile()">
                      <i class="far fa-user"></i>
                      Profile</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="far fa-bell"></i>
                      Notification</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item logout" v-on:click="logout()">
                      <i class="fas fa-sign-out-alt"></i>
                      Log Out</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="noti-div-2">
              <small class="pt-2 back-pad">Back</small>
              <small class="pt-2 pr-4">Home</small>
              <small class="pt-2">Profile</small>
            </div>
          </div>
        </div>

        <nav class="main-nav float-right d-none d-lg-block"></nav>
        <!-- .main-nav -->
      </div>
    </header>
    <div class="container-fluid card-cont drop-cont">
      <div class="row box-sh card-row">
        <div class="col-6">
          <div class="p-1 d-flex text-center justify-content-end">
            <div class="dropdown">
              <button
                class="btn btn-link my-btn drop-cont-btn p-1 dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-users myfafa-icon pr-1"></i>
                Create a user
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" v-on:click="organizationPage()"
                    >Organization</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="designationPage()"
                    >Designation</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="memberPage()">Members</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="p-1 d-flex text-center justify-content-start">
            <div class="dropdown">
              <button
                class="btn btn-link my-btn drop-cont-btn p-1 dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-chart-pie myfafa-icon pr-1"></i>
                Analysis
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" v-on:click="existingdbPage()"
                    >Existing Database</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="newdbPage()"
                    >New Database</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <main id="main">
      <section
        class="vh-100 "
        style="background-image: url(assets/img/finance-bg.jpg)"
      >
        <div class="container allotment-cont">
          <div class="row">
            <div class="col-md-12">
              <div class="form-bg">
                <div class="container">
                  <div class="row allot-form-row">
                    <div class="col-md-10">
                      <div class="form-container pb-3">
                        <h3 class="title">Allotment Entry</h3>
                        <form class="form-horizontal" v-on:submit.prevent="submitAllot()">
                          <div class="form-group">
                            <label>Reference No. / Letter No.</label>
                            <input
                              type="text"
                              class="form-control"
                              v-model= "ref_no"
                              placeholder="Reference No. / Letter No."
                            />
                          </div>
                          <div class="form-group">
                            <label>Letter From</label>
                            <input
                              type="text"
                              v-model= "letter_from"
                              class="form-control"
                              placeholder="Letter From"
                            />
                          </div>
                          <div class="form-group">
                            <label>Letter To</label>
                            <input
                              type="text"
                              v-model= "letter_to"
                              class="form-control"
                              placeholder="Letter To"
                            />
                          </div>
                          <div class="form-group">
                            <label>Date</label>
                            <input
                              type="date"
                              v-model= "date"
                              class="form-control"
                              placeholder="Date"
                            />
                          </div>
                          <div class="form-group">
                            <label>Amount</label>
                            <input
                              type="text"
                              v-model= "amount"
                              class="form-control"
                              placeholder="Amount"
                            />
                          </div>
                            <!-- <div class="form-group">
                            <label>Letter From</label>
                            <input
                              type="text"
                              v-model= "budget_line"
                              class="form-control"
                              placeholder="Letter From"
                            />
                          </div> -->
                          <!-- <div class="form-group">
                            <label>Issuing Authority</label>
                            <input
                              type="text"
                              v-model= "budget_line"
                              class="form-control"
                              placeholder="Issuing Authority"
                            />
                          </div> -->
                          <div class="form-group">
                            <label>Budget Line</label>
                            <input
                              type="text"
                              v-model= "budget_line"
                              class="form-control"
                              placeholder="Budget Line"
                            />
                          </div>
                          
                         <div class="pb-3 pt-3 w-50 d-block m-auto">
                      <button class="btn btn-dark finance-login-button" type="submit">Submit</button>
                    </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "AfterLoginComponent",
  data() {
    return {
      ref_no:'',
      date:'',
      amount:'',
      letter_from:'',
      letter_to:'',
      budget_line:''
    };
  },
  methods: {
    submitAllot(){
      axios
      .post("allotment_entry",{
        ref_no: this.ref_no,
        date: this.date,
        amount: this.amount,
        letter_from:this.letter_from,
        letter_to:this.letter_to,
        budget_line: this.budget_line
      })
      .then((response)=>{
        Swal.fire("Uploaded!", "Allotment Entry added successfully.", "success");
        this.ref_no=this.date=this.amount=this.letter_from=this.letter_to=this.budget_line='';
      });
    },
    createUser() {
      this.$router.push("/create_user");
    },
    analysis() {
      this.$router.push("/analysis");
    },
    backbtn() {
      this.$router.push("/allotment_entry_table");
    },
    logout() {
      const delToken = localStorage.removeItem("user");
      this.$router.push("/");
    },
    index() {
      this.$router.push("/index");
    },
    organizationPage() {
      this.$router.push("/organization");
    },
    designationPage() {
      this.$router.push("/designation");
    },
    memberPage() {
      this.$router.push("/team_member");
    },
    existingdbPage() {
      this.$router.push("/index1");
    },
    newdbPage() {
      this.$router.push("/upload_file");
    },
  },
};
</script>

<style>
.my-cont {
  padding-top: 100px !important;
}
.chp-login-form {
  border: 1px solid black;
}
.finance-login-button {
  width: 100px;
  height: 40px;
}
.finance-img {
  height: 350px !important;
}
.finance-form {
  height: 350px;
}
.after-login-container {
  padding-top: 30px !important;
}
.profile-icon-2 {
  height: 75px;
  width: 70px;
}
.after-login-btn {
  color: #fff !important;
  border-radius: 50% !important;
  height: 44px;
  width: 44px;
}
.fafa-btn {
  font-size: 24px;
}
.card-col:hover {
  background-image: linear-gradient(
    to right top,
    #5191f0,
    #4ea4eb,
    #29b3f3,
    #5ccdf3,
    #4bd0f5
  );
  color: #fff;
  border-radius: 10px;
}
.card-col:hover button {
  background-image: linear-gradient(
    to right top,
    #f8f8f8,
    #f6fbff,
    #f5fcff,
    #dff7ff,
    #ebfbff
  );
  color: #5191f0 !important;
  border-radius: 10px;
}

.card-col .after-login-btn:hover {
  background-color: rgb(28, 60, 243);
  color: #fff;
}
.head-btn {
  background-color: #fff;
}
.myfafa-icon {
  color: #5191f0;
}
.noti-div-2 {
  float: right;
  margin-top: 53px;
  margin-right: -156px;
}
.back-pad {
  padding-right: 27px;
}
.bg-image {
  height: 575px;
}
.drop-cont-btn {
  font-weight: bold !important;
}

.card-top-2:hover h4 {
  color: #fff !important;
}
.my-cont-new {
  padding-top: 120px !important;
  padding-bottom: 50px;
}
.form-container {
  background-color: #fff;
  font-family: "Titillium Web", sans-serif;
  font-size: 0;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 25px -15px rgba(0, 0, 0, 0.3);
}
.form-container .title {
  color: #000;
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 25px;
}
.form-container .title:after {
  content: "";
  background-color: #00a9ef;
  height: 3px;
  width: 60px;
  margin: 10px 0 0;
  display: block;
  clear: both;
}
.form-container .sub-title {
  color: #333;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px;
}
.form-container .form-horizontal {
  font-size: 0;
}
.form-container .form-horizontal .form-group {
  color: #333;
  width: 50%;
  padding: 0 8px;
  margin: 0 0 15px;
  display: inline-block;
}
.form-container .form-horizontal .form-group:nth-child(4) {
  margin-bottom: 30px;
}
.form-container .form-horizontal .form-group label {
  font-size: 17px;
  font-weight: 600;
}
.form-container .form-horizontal .form-control {
  color: #888;
  background: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  height: 40px;
  padding: 6px 12px;
  border-radius: 10px;
  border: 2px solid #e7e7e7;
  box-shadow: none;
}
.form-container .form-horizontal .form-control:focus {
  box-shadow: 0 0 5px #dcdcdc;
}
.form-container .form-horizontal .check-terms {
  padding: 0 8px;
  margin: 0 0 25px;
}
.form-container .form-horizontal .check-terms .check-label {
  color: #333;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  vertical-align: top;
  display: inline-block;
}
.form-container .form-horizontal .check-terms .checkbox {
  height: 17px;
  width: 17px;
  min-height: auto;
  margin: 2px 8px 0 0;
  border: 2px solid #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  transition: all 0.3s ease 0s;
}
.form-container .form-horizontal .check-terms .checkbox:before {
  content: "";
  height: 5px;
  width: 9px;
  border-bottom: 2px solid #00a9ef;
  border-left: 2px solid #00a9ef;
  transform: rotate(-45deg);
  position: absolute;
  left: 2px;
  top: 2.5px;
  transition: all 0.3s ease;
}
.form-container .form-horizontal .check-terms .checkbox:checked:before {
  opacity: 1;
}
.form-container .form-horizontal .check-terms .checkbox:not(:checked):before {
  opacity: 0;
}
.form-container .form-horizontal .check-terms .checkbox:focus {
  outline: none;
}
.form-container .signin-link {
  color: #333;
  font-size: 14px;
  width: calc(100% - 190px);
  margin-right: 30px;
  display: inline-block;
  vertical-align: top;
}
.form-container .signin-link a {
  color: #00a9ef;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}


.allot-form-row {
    display: flex;
    justify-content: center;
}
.allotment-cont{
    padding-top: 135px;
   
}

</style>
