<template>
  <div>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <div class="logo float-left">
              <a><img src="assets/img/logo.png" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <div class="col-6">
            <div>
              <h3 class="logo-text">CHP MIS BUDGET</h3>
            </div>
          </div>
          <div class="col-3">
            <div class="noti-div">
              <button
                type="button"
                v-on:click="backbtn()"
                class="btn btn-light head-btn mr-2"
              >
                <i class="fas fa-arrow-left myfafa-icon"></i>
              </button>
              <button
                v-on:click="index()"
                type="button"
                class="btn btn-light head-btn mr-2 ml-2"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Home"
              >
                <i class="fas fa-home myfafa-icon"></i>
              </button>

              <div
                class="btn-group"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Profile"
              >
                <button
                  type="button"
                  class="btn btn-light dropdown-toggle head-btn ml-2"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fas fa-user myfafa-icon"></i>
                </button>

                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" v-on:click="profile()">
                      <i class="far fa-user"></i>
                      Profile</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="far fa-bell"></i>
                      Notification</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item logout" v-on:click="logout()">
                      <i class="fas fa-sign-out-alt"></i>
                      Log Out</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="noti-div-2">
              <small class="pt-2 back-pad">Back</small>
              <small class="pt-2 pr-4">Home</small>
              <small class="pt-2">Profile</small>
            </div>
          </div>
        </div>

        <nav class="main-nav float-right d-none d-lg-block"></nav>
        <!-- .main-nav -->
      </div>
    </header>
    <!-- #header -->

<main id="main"></main>
    <section>
      <div class="container-fluid my-cont">
        <div class="row my-row first-card fixed-card pt-4 pb-4 row-card">
          <div class="col-2">
            <div class="wid">
              <select
                class="form-select"
                aria-label="Default select example"
                v-model="major_code"
                @change="selectMajorCode(major_code)">
                <option value="">Select Major Code</option>
                <option value="202210">Medical and Public Health</option>
                <option value="202211">Family Welfare</option>
                <option value="202230">Labour,Employment and Skill Development</option>
                <option value="202235">Social Security and Welfare</option>
                <option value="202251">Secretariat-social services</option>
                <option value="204210">Capital Expenditure on Medical and Public Health</option>
                <!-- <option value="2210">Medical and Public Health (2210)</option>
                <option value="2211">Family Welfare (2211)</option>
                <option value="2230">
                  Labour, Employment and Skill development(2230)
                </option>
                <option value="2235">Social security and welfare(2235)</option>
                <option value="2251">Secretariat- social services(2251)</option>
                <option value="4210">
                  Capital Expenditure on Medical and Public Health(4210)
                </option> -->
              </select>
            </div>
          </div>
          <div class="col-2">
            <div class="wid">
              <select
                class="form-select"
                id="wid-2"
                aria-label="Default select example"
                v-model="sub_major_code"
                @change="selectSubMajorCode(sub_major_code)"
              >
                <option value="">Select Sub Major Code</option>
                <option v-for="submajor in all_sub_major"
                :key="submajor.major_code"
                :value="submajor.sub_major_code_key">{{submajor.sub_major_description}}</option>
              </select>
            </div>
          </div>
          <div class="col-2">
            <div class="wid">
              <select
                class="form-select "
                id="wid-2"
                aria-label="Default select example"
                v-model="minor_code"
                @change="selectMinorCode(minor_code)"
                >
                <option value="">Select Minor Code</option>
                <option v-for="minor in all_minor_code"
                :key="minor.minor_code"
                :value="minor.minor_code_key">{{minor.minor_code_description}}</option>
              </select>
            </div>
          </div>
          <div class="col-2">
            <div class="wid">
              <select
                class="form-select "
                id="wid-2"
                aria-label="Default select example"
                v-model="sub_minor_code"
                @change="selectSubMinor(sub_minor_code)">
                <option value="">Select Sub Minor Code</option>
                <option v-for="subminor in all_sub_minor_code"
                :key="subminor.sub_minor_code"
                :value="subminor.sub_minor_code_key">{{subminor.sub_minor_description}}</option>
              </select>
            </div>
          </div>
          <div class="col-2">
            <div class="wid">
              <select
                class="form-select "
                id="wid-2"
                aria-label="Default select example"
                v-model="object_head"
                @change="selectObjectHead(object_head)">
                <option value="">Select Object Head</option>
                <option v-for="objecthead in all_object_head"
                :key="objecthead.object_head"
                :value="objecthead.full_code">{{objecthead.object_head_description}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container-fluid pt-4 advance-search-cont advance-card-2">
        <div class="row my-row advance-card pt-4 pb-1">
          <div class="col-2 adv-drop">
            <div class="mt-40" >
               <select aria-label="Default select example" class="form-select"
               v-model="searchby"
               @change="searchBy(searchby)">
                 <option value="">Search By</option> 
                 <option value="major_code_description">Major Code Description</option>
                 <option value="sub_major_description">Sub Major Code Description</option>
                 <option value="minor_code_description">Minor Code Description</option>
                 <option value="sub_minor_description">Sub Minor Code Description</option>
                 <option value="full_code">Full Code</option>
                 </select>
            </div>
          </div>
          <div class="col-8 d-block m-auto">
            <div >
              <h4 class="pb-3">Advance Search</h4>
              <!-- <b-spinner class="spinning" variant="dark" label="Spinning" v-if="loader==false"></b-spinner> -->
              
              <div class="col-12  pt-2">
                <input
                v-if="this.searchby == ''"
                            class="form-control table-search"
                            list="datalistOptions"
                            id="exampleDataList"
                            placeholder="Type to search"
                            v-model="advanceinput"/>
                <input
                v-if="this.searchby == 'major_code_description'"
                            class="form-control table-search"
                            list="datalistOptions"
                            id="exampleDataList"
                            placeholder="Type to search by Major Code Description"
                            v-model="advanceinput1"/>
                <input
                v-if="this.searchby == 'sub_major_description'"
                            class="form-control table-search"
                            list="datalistOptions"
                            id="exampleDataList"
                            placeholder="Type to search by Sub Major Code Description"
                            v-model="advanceinput2"/>
                <input
                v-if="this.searchby == 'minor_code_description'"
                            class="form-control table-search"
                            list="datalistOptions"
                            id="exampleDataList"
                            placeholder="Type to search by Minor Code Description"
                            v-model="advanceinput3"/>
                            <input
                v-if="this.searchby == 'sub_minor_description'"
                            class="form-control table-search"
                            list="datalistOptions"
                            id="exampleDataList"
                            placeholder="Type to search by Sub Minor Code Description"
                            v-model="advanceinput4"/>
                            <input
                v-if="this.searchby == 'full_code'"
                            class="form-control table-search"
                            list="datalistOptions"
                            id="exampleDataList"
                            placeholder="Type to search by Full Code"
                            v-model="advanceinput5"/>
                        
                        <!-- <v-select :options="addsearch" v-model="v_sel"></v-select> -->
                        
                        
              </div>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8  d-block m-auto">
            <div class="table-scroll"  v-if="advanceinput1.length >=1 || advanceinput2.length >=1 || advanceinput3.length >=1 || 
                advanceinput4.length >=1 || advanceinput5.length >=1">
              <table class="table">
                <tbody class="tbod">
                  <tr v-for="abc in show_m_c_d"
                    :key="abc.id"
                    :value="abc.description">
                    <td v-if="searchby == 'major_code_description'"><a v-on:click="jumpToTable(20 + abc.major_code)">{{abc.major_code_description}}</a></td>
                    <td v-if="searchby == 'sub_major_description'"><a v-on:click="jumpToTable(20 + abc.sub_major_code)">{{abc.sub_major_description}}</a></td>
                    <td v-if="searchby == 'minor_code_description'"><a v-on:click="jumpToTable(20 + abc.minor_code)">{{abc.minor_code_description}}</a></td>
                    <td v-if="searchby == 'sub_minor_description'"><a v-on:click="jumpToTable(20 + abc.sub_minor_code)">{{abc.sub_minor_description}}</a></td>
                    <td v-if="searchby == 'full_code'"><a v-on:click="jumpToTable(abc.full_code)">{{abc.full_code}}</a></td>
                    

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container-fluid pt-5 my-payment-cont">
        <div class="row my-row pt-4 pb-4">
          <div class="col-md-4">
            <a v-on:click="table()" class="code-card">
              <div class="white-cont p-5 amt-card amt-card-1">
                <h3 class="amt-h3">Alloted Amount</h3>

                <h5 class="amt-h5">₹ {{this.alloted_amount}}</h5>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a v-on:click="table()" class="code-card">
              <div class="white-cont p-5 amt-card amt-card-2">
                <h3 class="amt-h3">Expenditure Amount</h3>
                <h5 class="amt-h5">₹ {{this.expenditure_amount}}</h5>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a v-on:click="table()" class="code-card">
              <div class="white-cont p-5 amt-card amt-card-3">
                <h3 class="amt-h3">Available Amount</h3>
                <h5 class="amt-h5">₹ {{this.available_amount}}</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="pb-5">
      <div class="container-fluid cont-2">
        <div class="row">
          <div class="col-md-6">
            <div class="card-2 white-cont">
              <div class="p-3">
                <div id="amit">
                  <apexchart
                    type="donut"
                    height="220"
                    width="420"
                    :options="chartOptions2"
                    :series="series"
                  ></apexchart>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-2 white-cont">
              <div class="p-3">
                <div id="rahul">
                  <apexchart
                    type="pie"
                    height="350"
                    width="420"
                    :options="chartOptions"
                    :series="series2"
                  ></apexchart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container-fluid cont-2">
        <div class="row">
          <div class="col-12 pb-3">
            <label for="exampleDataList" class="form-label">Search </label>
            <input
              class="form-control table-search"
              list="datalistOptions"
              id="exampleDataList"
              placeholder="Type to search by code..."
              v-model="search"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card-2 white-cont">
              <div class="p-3">
                <table
                  id="tab1"
                  class="table table-striped table-bordered"
                  style="width: 100%"
                >
                  <thead>
                    <tr>
                      <th>Alloted By</th>
                      <th>Alloted To</th>
                      <th>Treasury</th>
                      <th>District</th>
                      <th>FullCode</th>
                      <th>Alloted Amount</th>
                      <th>Expenditure Amount</th>
                      <th>Available Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="all_data in allData"
                :key="all_data.object_head"
                :value="all_data.full_code">
                      <td>{{all_data.allotted_by}}</td>
                      <td>{{all_data.allotted_to}}</td>
                      <td>{{all_data.treasury}}</td>
                      <td>{{all_data.district}}</td>
                      <td>{{all_data.full_code}}</td>
                      <td>{{all_data.allotted_amount}}</td>
                      <td>{{all_data.expenditure_amount}}</td>
                      <td>{{all_data.available_amount}}</td>
                     
                    </tr>
                  </tbody>
                </table>
                <div class="entry-div">
                  <div class="result">
                    <p>{{totalresult}} results found</p>
                  </div>

                  <div>
                    <b-pagination
                      v-model="currentPage"
                      :total-rows="rows"
                      :per-page="cols"
                      aria-controls="listItems"
                      prev-text="Prev"
                      next-text="Next"
                      pills
                    >
                    </b-pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- End #main -->

    <!-- ======= Footer ======= -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>




  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "CodewiseComponent",
  data(){
    return{
      series: [44, 55],
      chartOptions2: {
        chart: {
          type: "donut",
        },
        labels: ["Available Amount", "Alloted Amount"],
        responsive: [
          {
            breakpoint: 480,
            options: {
              chart: {
                width: 200,
              },
              legend: {
                position: "bottom",
              },
            },
          },
        ],
      },

      series2: [44, 55],
      chartOptions: {
        chart: {
          width: 380,
          type: "pie",
        },
        labels: ["Alloted Amount", "Expenditure Amount"],
        responsive: [
          {
            breakpoint: 480,
            options: {
              chart: {
                width: 200,
              },
              legend: {
                position: "bottom",
              },
            },
          },
        ],
      },  
      major_code:'',
      all_sub_major:'',
      sub_major_code:'',
      all_minor_code:'',
      sub_minor_code:'',
      minor_code:'',
      all_sub_minor_code:'',
      all_sub_minor_code:'',
      all_object_head:'',
      allData:'',
      currentPage: 1,
      perPage: 3,
      items: "",
      limit: 5,
      cols: 5,
      from: 1,
      to: "",
      rows: this.items,
      search:'',
      object_head:'',
      totalresult:'',
      searchby:'',
      advanceinput:'',
      show_m_c_d:'',
      advanceinput1:'',
      advanceinput2:'',
      advanceinput3:'',
      advanceinput4:'',
      advanceinput5:'',
      available_amount:[],
      expenditure_amount:[],
      alloted_amount:[]
    }
  },
  mounted(){
    this.searchAPI();
    this.selectMajorCode();
    this.selectSubMajorCode();
    this.searchFilter1();
    this.searchFilter2();
    this.searchFilter3();
    this.searchFilter4();
    this.searchFilter5();
  },
  methods:{
    searchFilter1(){
      axios.post('advance1',{
        search: this.advanceinput1
      }).then((response)=>{
        this.show_m_c_d = response.data;
      });
      
    },
    searchFilter2(){
      axios.post('advance2',{
        search: this.advanceinput2
      }).then((response)=>{
        this.show_m_c_d = response.data;
      });
      
    },
    searchFilter3(){
      axios.post('advance3',{
        search: this.advanceinput3
      }).then((response)=>{
        this.show_m_c_d = response.data;
      });
      
    },
    searchFilter4(){
      axios.post('advance4',{
        search: this.advanceinput4
      }).then((response)=>{
        this.show_m_c_d = response.data;
      });
      
    },
    searchFilter5(){
      axios.post('advance5',{
        search: this.advanceinput5
      }).then((response)=>{
        this.show_m_c_d = response.data;
      });
      
    },
    searchAPI(){
      axios
      .post('all_allot_exp',{
        search: this.search,
        page: this.currentPage,
        perpage: this.cols,
      })
      .then((response)=>{
        this.allData = response.data.data.data;
        this.items = response.data.data.last_page;
        this.rows = response.data.data.total;
        this.from = response.data.data.from;
        this.to = response.data.data.to;
        this.available_amount = response.data.sum_available;
        this.expenditure_amount = response.data.sumExpenditure;
        this.alloted_amount = response.data.sum_alloted;
        console.log(this.allData);
      })
    },
    selectMajorCode(major_code){
      axios
      .get('sm_code/' + major_code)
      .then((response)=>{
        this.all_sub_major = response.data.data;
      })
      axios
      .post('all_allot_exp',{
        search: this.major_code
      })
      .then((response)=>{
        this.allData = response.data.data.data;
        this.totalresult = response.data.data.total;
        this.items = response.data.data.last_page;
        this.rows = response.data.data.total;
        this.available_amount = response.data.sum_available;
        this.expenditure_amount = response.data.sumExpenditure;

      });
    },
    selectSubMajorCode(sub_major_code){
      axios
      .get('mi_code/' + sub_major_code)
      .then((response)=>{
        this.all_minor_code = response.data.data;
      })
      axios
      .post('all_allot_exp',{
        search: this.sub_major_code
      })
      .then((response)=>{
        this.allData = response.data.data.data;
        this.totalresult = response.data.data.total;
        this.items = response.data.data.last_page;
        this.rows = response.data.data.total;
        this.available_amount = response.data.sum_available;
        this.expenditure_amount = response.data.sumExpenditure;
        this.alloted_amount = response.data.sum_alloted;
        console.log(this.expenditure_amount,'em');
      });
    },
    selectMinorCode(minor_code){
      axios
      .get('s_mi_code/' + minor_code)
      .then((response)=>{
        this.all_sub_minor_code = response.data.data;
      })
      axios
      .post('all_allot_exp',{
        search: this.minor_code
      })
      .then((response)=>{
        this.allData = response.data.data.data;
        this.totalresult = response.data.data.total;
        this.items = response.data.last_page;
        this.rows = response.data.total;
        this.available_amount = response.data.sum_available;
        this.expenditure_amount = response.data.sumExpenditure;
        this.alloted_amount = response.data.sum_alloted;
      });
    },
    selectSubMinor(sub_minor_code){
      axios
      .get('all_object_head/' + sub_minor_code)
      .then((response)=>{
        this.all_object_head = response.data.data;
      })
      axios
      .post('all_allot_exp',{
        search: this.sub_minor_code
      })
      .then((response)=>{
        this.allData = response.data.data.data;
        this.totalresult = response.data.data.total;
        this.items = response.data.last_page;
        this.rows = response.data.total;
        this.available_amount = response.data.sum_available;
        this.expenditure_amount = response.data.sumExpenditure;
        this.alloted_amount = response.data.sum_alloted;
      });
    },
    selectObjectHead(object_head){
      console.log(object_head);
      axios
      .post('all_allot_exp',{
        search: this.object_head
      })
      .then((response)=>{
        this.allData = response.data.data.data;  
        this.totalresult = response.data.data.total;
        this.items = response.data.last_page;
        this.rows = response.data.total; 
        this.available_amount = response.data.sum_available;
        this.expenditure_amount = response.data.sumExpenditure;
        this.alloted_amount = response.data.sum_alloted; 
      });
    },
    jumpToTable(searchby){
      this.advanceinput1 = this.advanceinput2 = this.advanceinput3 = this.advanceinput4 = this.advanceinput5 = searchby;
      window.location = '#tab1';
        axios
        .post('all_allot_exp',{
          search: searchby
        })
        .then((response)=>{
          this.allData = response.data.data.data;
          this.totalresult = response.data.data.total;
          this.items = response.data.data.last_page;
        this.rows = response.data.data.total;
          console.log(this.allData,'aas');
        })
    },
    logout() {
      const delToken = localStorage.removeItem("user");
      this.$router.push("/");
    },
    backbtn() {
      this.$router.push("/index1");
    },
    index() {
      this.$router.push("/index");
    },
    organizationPage() {
      this.$router.push("/organization");
    },
    designationPage() {
      this.$router.push("/designation");
    },
    memberPage() {
      this.$router.push("/team_member");
    },
    existingdbPage() {
      this.$router.push("/index1");
    },
    newdbPage() {
      this.$router.push("/upload_file");
    },
  },
  watch:{
    currentPage(val) {
      this.searchAPI();
    },
    cols(val) {
      this.currentPage = 1;
      this.searchAPI();
    },
    major_code(val){
      console.log(val);
    },
    search(val){
      this.searchAPI();
    },
    advanceinput1(val){
      this.searchFilter1();
    },
    advanceinput2(val){
      this.searchFilter2();
    },
    advanceinput3(val){
      this.searchFilter3();
    },
    advanceinput4(val){
      this.searchFilter4();
    },
    advanceinput5(val){
      this.searchFilter5();
    },
  }
}
</script>

<style>
.table-scroll{
        overflow-y: scroll;
    height: 200px;
        border-left: 1px solid lightgrey;
        width: 97%;
    display: block;
    margin: auto;
}
.tbod{
  cursor: pointer;
}

.code-card {
  text-decoration: none !important;
}
.advance-search-cont {
  padding-bottom: 10px !important;
  padding-right: 40px !important;
  padding-left: 40px !important;
}
.my-cont {
  padding-top: 95px !important;
  padding-bottom: 70px !important;
  padding-right: 40px !important;
  padding-left: 40px !important;
}
.first-card {
  -webkit-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  background-color: #ffffff;
}
.fixed-card {
  position: fixed;
  width: 96%;
  z-index: 1;
  background: white;
}
.my-row {
  text-align: center;
}
.card-2 {
  -webkit-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
}
.cont-2 {
  padding-right: 24px !important;
  padding-left: 24px !important;
  padding-top: 40px;
}
.search-cont {
  padding-right: 40px !important;
  padding-left: 40px !important;
}
.my-payment-cont {
  padding-bottom: 50px !important;
  padding-right: 40px !important;
  padding-left: 40px !important;
}
.amt-h3 {
  color: #fff;
  font-weight: bold;
}
.amt-h5 {
  color: #fff;
}
.white-cont {
  background-color: #ffffff;
}
.amt-card {
  border-radius: 15px;
  -webkit-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
}
.amt-card-1 {
  background-image: -webkit-linear-gradient(45deg, #226cc5, #6cd975);
  background-image: linear-gradient(45deg, #226cc5, #6cd975);
  background-repeat: repeat-x;
}
.amt-card-2 {
  background-image: -webkit-linear-gradient(45deg, #b02940, #fcc173);
  background-image: linear-gradient(45deg, #b02940, #fcc173);
  background-repeat: repeat-x;
}
.amt-card-3 {
  background-image: -webkit-linear-gradient(45deg, #7441db, #f9877c);
  background-image: linear-gradient(45deg, #7441db, #f9877c);
  background-repeat: repeat-x;
}
.fafa-icon {
  color: #fff;
}
.entry-div {
  display: flex;
  justify-content: space-between;
}
.result {
  font-size: 18px;
}
.logout {
  cursor: pointer;
}
.table-search {
  border-radius: 10px;
}
.search-btn {
  z-index: 10000 !important;
}
  .spinning{
    z-index: 99;
}
.advance-card-2{
 -webkit-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  background-color: #ffffff;
  width: 96%!important;
  margin-top: 38px;
  margin-bottom: 6px!important;
}
.wid{
  width: 100%;
}
#wid-2{
  width: 100%!important;
}
.row-card{
display: flex;
    justify-content: space-evenly;
}
.adv-drop{
  display: flex;
align-items: center;
}
.mt-40{
  margin-top: 40px;
}
</style>
