<template>
  <div>
    <header id="header" class="fixed-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <div class="logo float-left">
              <a><img src="assets/img/logo.png" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <div class="col-6">
            <div>
              <h3 class="logo-text">CHP MIS BUDGET</h3>
            </div>
          </div>
          <div class="col-3">
            <div class="noti-div">
              <button
                type="button"
                v-on:click="backbtn()"
                class="btn btn-light head-btn mr-2"
              >
                <i class="fas fa-arrow-left myfafa-icon"></i>
              </button>
              <button
                v-on:click="index()"
                type="button"
                class="btn btn-light head-btn mr-2 ml-2"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Home"
              >
                <i class="fas fa-home myfafa-icon"></i>
              </button>

              <div
                class="btn-group"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Profile"
              >
                <button
                  type="button"
                  class="btn btn-light dropdown-toggle head-btn ml-2"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fas fa-user myfafa-icon"></i>
                </button>

                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" v-on:click="profile()">
                      <i class="far fa-user"></i>
                      Profile</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="far fa-bell"></i>
                      Notification</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item logout" v-on:click="logout()">
                      <i class="fas fa-sign-out-alt"></i>
                      Log Out</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="noti-div-2">
              <small class="pt-2 back-pad">Back</small>
              <small class="pt-2 pr-4">Home</small>
              <small class="pt-2">Profile</small>
            </div>
          </div>
        </div>

        <nav class="main-nav float-right d-none d-lg-block"></nav>
        <!-- .main-nav -->
      </div>
    </header>
    <div class="container-fluid card-cont drop-cont">
      <div class="row box-sh card-row">
        <div class="col-6">
          <div class="p-1 d-flex text-center justify-content-end">
            <div class="dropdown">
              <button
                class="btn btn-link my-btn drop-cont-btn p-1 dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-users myfafa-icon pr-1"></i>
                Create a user
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" v-on:click="organizationPage()"
                    >Organization</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="designationPage()"
                    >Designation</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="memberPage()">Members</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="p-1 d-flex text-center justify-content-start">
            <div class="dropdown">
              <button
                class="btn btn-link my-btn drop-cont-btn p-1 dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-chart-pie myfafa-icon pr-1"></i>
                Analysis
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" v-on:click="existingdbPage()"
                    >Existing Database</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="newdbPage()"
                    >New Database</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <main id="main">
      <section
        class=""
       
      >
        <div class="container-fluid customized-cont">
          <div class="card-div-cont">
            <div class="row">
              <div class="col-md-12">
                <div>
                  <h3 class="text-center pt-3 pb-3">Customized Allotment</h3>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="drop-div">
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    v-model="mycodes"
                    @change="allCodes(mycodes)"
                  >
                    <option value="">Select Code</option>
                    <option value="1">Major Code</option>
                    <option value="2">Sub Major Code</option>
                    <option value="3">Minor Code</option>
                    <option value="4">Sub Minor Code</option>
                  </select>
                </div>
              </div>
              <!-- major slider -->
              <div class="col-md-8">
                <div>
                  
                  <div class="demo">
                    <div class="range-slider">
                      <input
                      v-if="mycodes == '' "
                        type="range"
                        min="0"
                        max="100"
                        value="0"
                      />
                      <input
                      v-if="mycodes == 1"
                        type="range"
                        v-model="range"
                        @change="rangeSlide1(range)"
                        
                        min="0"
                        max="100"
                      />
                      <input
                      v-if="mycodes == 2"
                        type="range"
                        v-model="range"
                        @change="rangeSlide2(range)"
                        
                        min="0"
                        max="100"
                      />
                      <input
                      v-if="mycodes == 3"
                        type="range"
                        v-model="range"
                        @change="rangeSlide3(range)"
                        
                        min="0"
                        max="100"
                      />
                      <input
                      v-if="mycodes == 4"
                        type="range"
                        v-model="range"
                        @change="rangeSlide4(range)"
                        
                        min="0"
                        max="100"

                      />
                      <span class="range-value">0</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- sub major slider -->
            
            <div class="row mt-5">
                <div class="col-md-12">
                    <div>
                         <div class="panel-body table-responsive">
                  <table class="table table-bordered table-striped">
                            <thead>
                              <tr class="active">
                                <th>S.No</th>
                                <th>Description</th>
                                 <th>Alloted Amount</th>
                                <th>Expected Allotment</th>
                              </tr>
                            </thead>
                            <tbody
                            v-if="mycodes == '' ">
                            <tr>
                            <td></td>
                            <td style="text-align: end;">Please Choose a Code from DropDown</td>
                            <td></td>
                            <td></td>
                            </tr>
                    </tbody>
                            <tbody
                              v-if="mycodes == 1 && range == 0"
                              id="example"
                              class="table table-striped table-bordered"
                              style="width: 100%"
                            >
                      <tr 
                      v-for="(majAp,index) in allmajorcode"
                      
                      :key="majAp.id"
                      i = index
                      :value="majAp.id">
                      <td>{{index +1}}</td>
                      <td>{{majAp.description}}</td>
                      <td>₹ {{majAp.total}}</td>
                        
                      </tr>
                    </tbody>
                    <tbody v-if="range>0"
                      id="example"
                              class="table table-striped table-bordered"
                              style="width: 100%">
                              <tr v-for="(percent,index) in percentage_allot"
                      
                      :key="percent.id"
                      i = index
                      :value="percent.id">
                       <td>{{index +1}}</td>
                      <td>{{percent.description}}</td>
                      <td>₹ {{percent.total}}</td>
                      <td>₹ {{percent.percent_total}}</td>

                              </tr>
                    </tbody>
                    <tbody
                              v-if="mycodes == 2 && range == 0"
                              id="example"
                              class="table table-striped table-bordered"
                              style="width: 100%"
                            >
                      <tr 
                      v-for="(majAp,index) in allsubmajorcode"
                      
                      :key="majAp.id"
                      i = index
                      :value="majAp.id">
                      <td>{{index +1}}</td>
                      <td>{{majAp.description}}</td>
                      <td>₹ {{majAp.total}}</td>
                        
                      </tr>
                    </tbody>
                     <tbody
                              v-if="mycodes == 3 && range == 0"
                              id="example"
                              class="table table-striped table-bordered"
                              style="width: 100%"
                            >
                      <tr 
                      v-for="(majAp,index) in allminorcode"
                      
                      :key="majAp.id"
                      i = index
                      :value="majAp.id">
                      <td>{{index +1}}</td>
                      <td>{{majAp.description}}</td>
                      <td>₹ {{majAp.total}}</td>
                        
                      </tr>
                    </tbody>
                    <tbody
                              v-if="mycodes == 4 && range == 0"
                              id="example"
                              class="table table-striped table-bordered"
                              style="width: 100%"
                            >
                      <tr 
                      v-for="(majAp,index) in allsubminorcode"
                      
                      :key="majAp.id"
                      i = index
                      :value="majAp.id">
                      <td>{{index +1}}</td>
                      <td>{{majAp.description}}</td>
                      <td>₹ {{majAp.total}}</td>
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        
      </section>
    </main>

    <!-- End #main -->

    <!-- ======= Footer ======= -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "AddMajorCodeComponent",
  data() {
    return {
      code:'',
      mycodes:'',
      allmajorcode:'',
      allsubmajorcode:'',
      allsubminorcode:'',
      allminorcode:'',
      allSubMajor:'',
      allMinor:'',
      allSubMinor:'',
      majcode:'',
      range:0 ,
      allot_amount:'',
      percentage_allot:''
    };
  },
  methods: {
    rangeSlide1(range){
      axios
      .get('percent_allot/'+ range)
      .then((response)=>{
        this.percentage_allot = response.data.data;
      });
    },
    rangeSlide2(range){
      axios
      .get('percent_sub_major_allot/'+ range)
      .then((response)=>{
        this.percentage_allot = response.data.data;        
      });
    },
    rangeSlide3(range){
      axios
      .get('percent_minor_allot/'+ range)
      .then((response)=>{
        this.percentage_allot = response.data.data;
      });
    },
    rangeSlide4(range){
      axios
      .get('percent_sub_minor_allot/'+ range)
      .then((response)=>{
        this.percentage_allot = response.data.data;
      });
    },
    allCodes(mycodes) {
      if (mycodes == 1) {
        axios.get("all_major_code").then((response) => {
          console.log(response.data.data);
          this.allMajor = response.data.data;
        });
        axios.get('major_alloted')
        .then((response)=>{
          
          this.allmajorcode = response.data.data;
        });
      }
      if (mycodes == 2) {
        axios.get("all_sub_major_code").then((response) => {
          console.log(response.data.data);
          this.allSubMajor = response.data.data;
        });
        axios.get('sub_major_alloted')
        .then((response)=>{
          this.allsubmajorcode = response.data.data;
        });

      }
      if (mycodes == 3) {
        axios.get("all_minor_code").then((response) => {
          console.log(response.data.data);
          this.allMinor = response.data.data;
        });
        axios.get('minor_alloted')
        .then((response)=>{
          this.allminorcode = response.data.data;
        });
      }
      if (mycodes == 4) {
        axios.get("all_sub_minor_code").then((response) => {
          this.allSubMinor = response.data.data;
        });
        axios.get('sub_minor_alloted')
        .then((response)=>{
          this.allsubminorcode = response.data.data;
        });
      }
    },
    createUser() {
      this.$router.push("/create_user");
    },
    analysis() {
      this.$router.push("/analysis");
    },
    logout() {
      const delToken = localStorage.removeItem("user");
      this.$router.push("/");
    },
    backbtn() {
      this.$router.push("/index1");
    },
    index() {
      this.$router.push("/index");
    },
    organizationPage() {
      this.$router.push("/organization");
    },
    designationPage() {
      this.$router.push("/designation");
    },
    memberPage() {
      this.$router.push("/team_member");
    },
    existingdbPage() {
      this.$router.push("/index1");
    },
    newdbPage() {
      this.$router.push("/upload_file");
    },
    allMajorCode(){
      axios
      .get('all_major_code')
      .then((response)=>{
        console.log(response.data.data);
      });
    }
  },
};
$(document).ready(function () {
  var rangeSlider = function () {
    var slider = $(".range-slider"),
      range = $('.range-slider input[type="range"]'),
      value = $(".range-value");
    slider.each(function () {
      value.each(function () {
        var value = $(this).prev().attr("value");
        $(this).html(value);
      });
      range.on("input", function () {
        $(this).next(value).html(this.value);
      });
    });
  };
  rangeSlider();
});
</script>

<style>
.finance-img {

height: 100%;
}
.head-btn {
  background-color: #fff;
}
.myfafa-icon {
  color: #5191f0;
}
.noti-div-2 {
  float: right;
  margin-top: 53px;
  margin-right: -156px;
}
.back-pad {
  padding-right: 27px;
}
.bg-image {
  height: 575px;
}
.drop-cont-btn {
  font-weight: bold !important;
}
.card-top-2:hover h4 {
  color: #fff !important;
}
.customized-cont {
  padding-top: 135px;
 padding-bottom: 20px;
}
/* .demo{ background-color: #63e8c4; } */
.range-slider {
  /* background-color: var(--white); */
  border-radius: 15px;
  padding: 27px 0 0 20px;
  margin: 30px 0 0 0;
}
.range-slider input[type="range"] {
  background: #2bb4f3;
  width: calc(100% - (85px));
  height: 12px;
  border-radius: 5px;
  outline: none;
  float: left;
  -webkit-appearance: none;
  position: relative;
}
.range-slider input[type="range"]::-webkit-slider-thumb {
  background: #fff;
  width: 32px;
  height: 32px;
  border: 4px solid var(--main-color);
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.15s ease-in-out 0s;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: 0 0 0 2px var(--white), 0 0 10px #000;
}
.range-slider input[type="range"]::-webkit-slider-thumb:hover,
.range-slider input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px var(--white), 0 0 10px #000;
}
.range-slider input[type="range"]::-moz-range-thumb {
  background: var(--white);
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: 4px solid var(--main-color);
  border-radius: 50%;
  transition: all 0.15s ease-in-out 0s;
}
.range-slider input[type="range"]::-moz-range-thumb:hover,
.range-slider input[type="range"]:active::-moz-range-thumb {
  box-shadow: 0 0 0 2px var(--white), 0 0 10px #000;
}
.range-slider .range-value {
  color: #000;
  background: var(--main-color);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 35px;
  width: 60px;
  height: 35px;
  padding: 0 15px 0 10px;
  margin-left: 5px;
  border-radius: 15px;
  display: inline-block;
  position: relative;
  top: -14px;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
::-moz-range-track {
  background: transparent;
  border: 0;
}
.drop-div {
  margin-top: 42px;
}
.card-div-cont {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 2px 10px lightgrey;
}
</style>
