<template>
  <div>
       <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <div class="logo float-left">
              <a><img src="assets/img/logo.png" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <div class="col-6">
            <div>
              <h3 class="logo-text">CHP MIS BUDGET</h3>
            </div>
          </div>
          <div class="col-3">
            <div class="noti-div">
              <button
                type="button"
                v-on:click="backbtn()"
                class="btn btn-light head-btn mr-2"
              >
                <i class="fas fa-arrow-left myfafa-icon"></i>
              </button>
              <button
                v-on:click="index()"
                type="button"
                class="btn btn-light head-btn mr-2 ml-2"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Home"
              >
                <i class="fas fa-home myfafa-icon"></i>
              </button>

              <div
                class="btn-group"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Profile"
              >
                <button
                  type="button"
                  class="btn btn-light dropdown-toggle head-btn ml-2"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fas fa-user myfafa-icon"></i>
                </button>

                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" v-on:click="profile()">
                      <i class="far fa-user"></i>
                      Profile</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="far fa-bell"></i>
                      Notification</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item logout" v-on:click="logout()">
                      <i class="fas fa-sign-out-alt"></i>
                      Log Out</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="noti-div-2">
              <small class="pt-2 back-pad">Back</small>
              <small class="pt-2 pr-4">Home</small>
              <small class="pt-2">Profile</small>
            </div>
          </div>
        </div>

        <nav class="main-nav float-right d-none d-lg-block"></nav>
        <!-- .main-nav -->
      </div>
    </header>
    <!-- #header -->
    <section>
      <div class="container-fluid my-cont">
        <div class="row my-row first-card fixed-card pt-4 pb-4 row-card">
          <div class="col-4">
           <div class="">
              <select
                class="form-select"
                id="wid-2"
                aria-label="Default select example"
                v-model="district"
                @change="selectDistrict(district)"
              >
                <option value="">Select Dsitrict</option>
                <option
                  v-for="districts in allDistrict"
                  :key="districts.id"
                  :value="districts.district"
                >
                  {{ districts.district }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-4">
              <div class="">
              <select
                class="form-select"
                id="wid-2"
                aria-label="Default select example"
                v-model="treasury"
                @change="selectTreasury(treasury)"
              >
                <option value="">Select Treasury</option>
                <option
                  v-for="treasure in all_treasury"
                  :key="treasure.id"
                  :value="treasure.treasury"
                >
                  {{ treasure.treasury }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container-fluid pt-5 my-payment-cont">
        <div class="row my-row pt-4 pb-4 justify-content-center">
          <div class="col-md-4">
            <a v-on:click="table()" class="code-card">
              <div class="white-cont p-5 amt-card amt-card-1">
                <h3 class="amt-h3">Alloted Amount</h3>

                <h5 class="amt-h5"><p v-if="district == ''">₹ 0</p><p v-if="district != ''">₹ {{this.alloted_amount}}</p></h5>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a v-on:click="table()" class="code-card">
              <div class="white-cont p-5 amt-card amt-card-2">
                <h3 class="amt-h3">Expenditure Amount</h3>
                <h5 class="amt-h5"><p v-if="district == ''">₹ 0</p><p v-if="district != ''">₹ {{this.expenditure_amount}}</p></h5>
              </div>
            </a>
          </div>
         
        </div>
      </div>
    </section>
    <section>
        <div class="row">
          <div class="col-12">
            <div class="card-2 white-cont">
              <div class="p-3">
                <table
                  id="example"
                  class="table table-striped table-bordered"
                  style="width: 100%"
                  v-if="district != ''"
                >
                  <thead>
                    <tr>
                      <th>DDO Name</th>
                      <th>Office Name</th>
                      <th>District</th>
                      <th>DDO Code</th>
                      <th>Alloted Amount</th>
                      <th>Expenditure Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      v-for="majAp in districtBy"
                      :key="majAp.id"
                      :value="majAp.id"
                    >
                      <td>{{ majAp.allotted_by }}</td>
                      <td>{{ majAp.allotted_to }}</td>
                      <td>{{ majAp.district }}</td>
                      <td>{{ majAp.ddo_code }}</td>
                      <td>{{ majAp.allotted_amount }}</td>
                      <td>{{ majAp.expenditure_amount }}</td>
                    </tr>
                  </tbody>
                </table>
                <!-- table blank -->
                <table
                  id="example"
                  class="table table-striped table-bordered"
                  style="width: 100%"
                  v-if="district == ''"
                >
                  <thead>
                    <tr>
                      <th>DDO Name</th>
                      <th>Office Name</th>
                      <th>District</th>
                      <th>DDO Code</th>
                      <th>Alloted Amount</th>
                      <th>Expenditure Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                     <h5>Please select district first</h5>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                  </tbody>
                </table>
                <!-- end -->
                <div class="entry-div">
                  <div class="result">
                    <p>{{ totalresult }} results found</p>
                  </div>
                  <div>
                    <b-pagination
                      v-model="currentPage"
                      :total-rows="rows"
                      :per-page="cols"
                      aria-controls="listItems"
                      prev-text="Prev"
                      next-text="Next"
                      pills
                    >
                    </b-pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "DistrictwiseComponent",
  data() {
    return {
      allDistrict: "",
      district: "",
      treasury: "",
      districtBy: "",
      all_treasury: "",
      seach_treasury: "",
      rows: "",
      totalresult: "",
      from: "1",
      perPage: 3,
      limit: 5,
      cols: 5,
      to: "",
      items: "",
      currentPage: 1,
      alloted_amount:'',
      expenditure_amount:''
    };
  },
  mounted() {
    this.getDistrict();
    this.selectDistrict(district);
  },
  methods: {
    backbtn() {
      this.$router.push("/tab1");
    },
    index() {
      this.$router.push("/index");
    },
    getDistrict() {
      axios.get("get_district").then((response) => {
        this.allDistrict = response.data;
      });
    },
    selectDistrict(district) {
      axios.get("all_treasury/" + district).then((response) => {
        this.all_treasury = response.data;
      });
      axios.get("district/" + district).then((response) => {
          console.log(response.data,'dd');
        this.districtBy = response.data[0].data;
        this.totalresult = response.data[0].total;
        this.items = response.data[0].last_page;
        this.rows = response.data[0].total;
        this.from = response.data[0].from;
        this.to = response.data[0].to;
        this.page = this.currentPage;
        this.perpage = this.cols;
        this.alloted_amount = response.data[1];
        this.expenditure_amount = response.data[2];
      });
    },
    selectTreasury(treasury) {
      axios
        .post("search_treasury", {
          search: treasury,
          page: this.currentPage,
          perpage: this.cols,
        })
        .then((response) => {
          this.districtBy = response.data[0].data;
          this.items = response.data[0].last_page;
          this.rows = response.data[0].total;
          this.from = response.data[0].from;
          this.to = response.data[0].to;
          this.alloted_amount = response.data[1];
          this.expenditure_amount = response.data[2];
        });
    },
  },
  watch: {
    currentPage(val) {
      this.currentPage = 1;
    },
    cols(val) {
      this.currentPage = 1;
      this.searchAPI();
    },
  },
};
</script>

<style>
.allotedtable-cont {
  padding-top: 220px;
}
.dist-row {
  justify-content: center;
  padding: 20px;
  background: #fff;
  box-shadow: 0px 2px 10px -4px rgb(0 0 0 / 75%);
  border-radius: 15px;
  width: 100%;
  margin: auto;
}
</style>