<template>
    <div class="row cards-row">
      <div class="col-12">
        <div class="card filter-card">
          <h4 class="filter-text">Filters</h4>
          <div class="row">
            <div class="col-md-3 form-group">
              <label class="labeltext">Major Code</label>
              <select class="form-control" v-model="code_id" @change="allData(code_id)">
                <option value="">Select</option>
                <option value="2210">Medical and Public Health (2210)</option>
                <option value="2211">Family Welfare (2211)</option>
                <option value="2230">Labour, Employment and Skill development(2230)</option>
                <option value="2235">Social security and welfare(2235)</option>
                <option value="2251">Secretariat- social services(2251)</option>
                <option value="4210">Capital Expenditure on Medical and Public Health(4210)</option>
                
              </select>
            </div>

            <div class="col-md-3 form-group">
              <label class="labeltext">Sub_major Code</label>
              <select class="form-control" v-model="min_code" @change="minCode(min_code)">
                <option value="">Select</option>
                <option v-for="code in majorCode" :key="code.id" :value="code.code">{{code.description}}</option>
              </select>
            </div>
             <div class="col-md-3 form-group">
              <label class="labeltext">Minor Code</label>
              <select class="form-control" v-model="sub_min" @change="subMajor(sub_min)">
                <option value="">Select</option>
                <option v-for="minor in minorCode" :key="minor.id" :value="minor.code">
                    {{minor.description}}
                </option>
              </select>
            </div>
            <div class="col-md-3 form-group">
              <label class="labeltext">Sub Minor Code</label>
              <select class="form-control" v-model="final" @change="lastDrop(final)">
                <option value="">Select</option>
                <option v-for="submin in subMinor" :key="submin.id" :value="submin.code">
                    {{submin.description}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <!-- <div id="vue-root">
    <datatable :columns="columns" :data="rows"></datatable>
</div> -->
            <div class="d-flex search-box-user-table">
              <input
                type="text"
                class="form-control"
                placeholder="Search..."
                v-model="search"
              />
              </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="table-responsive">
            <table id="example" class="table table-striped" style="width: 100%">
              <thead>
                <tr>
                  <th style="width: 497px">
                    Allotted By
                  </th>
                  <th style="width: 361px">
                    Allotted To
                  </th>
                  <th style="width: 415px">
                    Treasury
                  </th>

                  <th style="width: 398px">
                    Full Code
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr  v-for="majAp in majorApi" :key="majAp.id" :value="majAp.id">
                  <td>
                    <div class="media table-media">
                      <div class="media-body">
                        {{majAp.allotted_by}}
                     
                      </div>
                    </div>
                  </td>
                  <td>{{majAp.allotted_to}}</td>
                  <td>
                    <div class="d-flex">
                      <i class="feather feather-edit-2"></i>
                      <span class="pl-1">{{majAp.treasury}}</span>
                    </div>
                  </td>
                  <td>
                    <span class="text-success">{{majAp.full_code}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>

    

</template>

<script>
    export default {
      name: "ExampleComponent",
        data(){
            return{
                majorCode:[],
                minorCode:[],
                subMinor:[],
                mainData:[],
                majorApi:[],
                search:'',
                sub_min:'',
                min_code:'',
                code_id:'',
                final:''
            }
        },
        mounted() {
          this.majApi();
        },
        methods:{
          majApi(){
                axios
                .post('all_data',{
                  search: this.search,
                })
                .then((response)=>{
                    this.majorApi = response.data.data;
                    console.log(this.majorApi);
                });
          },
            allData($id){
                axios
                .get('/maj_code/'+ $id)
                .then((response)=>{
                    // console.log(response);
                    this.majorCode = response.data;
                    // console.log(this.majorCode,'sfs');
                });
                axios
                .post('all_data',{
                  search: this.code_id,
                })
                .then((response)=>{
                  // console.log(response.data.data,'console');
                  this.majorApi = response.data.data;
                  // console.log(this.majorApi);
                })
            },
            minCode($id){
              console.log($id);
                axios
                .get('/min_code/'+ $id)
                .then((response)=>{
                    // console.log(response);
                    this.minorCode = response.data;
                    console.log(this.minorCode,'minor');
                });
                axios
                .post('all_data',{
                  search: (this.code_id + this.min_code) ,
                })
                .then((response)=>{
                  // console.log(response.data.data);
                  this.majorApi = response.data.data;
                })
            },
             subMajor($id){
               console.log($id);
                axios
                .get('/sub_min_code/'+ $id)
                .then((response)=>{
                    // console.log(response);
                    this.subMinor = response.data;
                    console.log(this.subMinor);
                })
                axios
                .post('all_data',{
                  search: (this.code_id + this.min_code + this.sub_min),
                })
                .then((response)=>{
                  // console.log(response);
                  this.majorApi = response.data.data;
                  // console.log(this.majorApi);
                })
            },
            lastDrop($id){
              axios
              .post('all_data',{
                search: (this.code_id + this.min_code + this.sub_min + this.final)
              })
              .then((response)=>{
                this.majorApi = response.data.data;
              })
            }
        },
        watch:{
            search(val){
              this.majApi();
              // this.allData();
            }
        }
    }
</script>
