<template>
  <div>
       <main id="main">

<section>
  <section class="vh-100" style="background-image: url(assets/img/finance-bg.jpg);">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-8">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-6 d-none d-md-block">
                <img
                  src="assets/img/finance-logo.jpg"
                  alt="login form"
                  class="img-fluid finance-img" style="border-radius: 1rem 0 0 1rem;"
                />
                
              </div>
              <div class="col-md-6 col-lg-6 d-flex align-items-center finance-form">
                <div class="card-body  text-black">
  
                  <form v-on:submit.prevent="login()">
                    <b-spinner class="spinning" variant="dark" label="Spinning" v-if="loader==true"></b-spinner>
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      
                      <span class="h3  mb-0">Login</span>
                    </div>
  
                    <h6 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Welcome to CHP	MIS	Finance</h6>
  
                    <div class="form-outline mb-4">
                      <input type="email" class="form-control form-control-lg" placeholder="Email" v-model="email" required>
                     
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password" class="form-control form-control-lg" placeholder="Password" v-model="password" required>  
                     
                    </div>
  
                    <div class="pb-3">
                      <button  class="btn btn-dark finance-login-button" type="submit">Login</button>
                    </div>
                    <div>
                      <h6 class="text-center"><a href="#">Forget Password ?</a></h6>
                    </div>
  
                    <!-- <a class="small text-muted" href="#!">Forgot password?</a> -->
                  
                  
                   
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
 

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


  </div>
</template>

<script>
import axios from "axios";
export default {
    name: "login",
    data(){
      return{
        email:'',
        password:'',
        loader:false,
      }
    },
    methods:{
      login(){
        this.loader=true;
        axios
        .post("/api/login",{
          email: this.email,
          password:this.password
        })
        .then((response)=>{
          console.log('login',response);
          if(response.data.status=="success"){
                        localStorage.setItem("user",JSON.stringify(response.data));
                        this.$router.push("/index");
                    
                    }else{
                     const Toast = Swal.mixin({
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 4000,
                        timerProgressBar: true,
                    didOpen: (toast) => {
                      toast.addEventListener('mouseenter', Swal.stopTimer)
                      toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
        })
        Toast.fire({
                    icon: 'error',
                    title: response.data.message
                })
                    this.loader = false;
                }
                    this.email = this.password = '';
                })
                .catch(error =>{
                    console.log(error);
                }); 
              
    }

}
}
</script>

<style>
    .my-cont{
      padding-top: 100px!important;
    }
    .chp-login-form{
      
      border: 1px solid black;

  
    }
    .finance-login-button{
      width: 100%!important;
      height: 40px;
     background-image: linear-gradient(
        to right top,
        #5191f0,
        #4ea4eb,
        #29b3f3,
        #5ccdf3,
        #4bd0f5
    );
    border: none!important;
    font-size: 18px!important;
    
      
    }
    .finance-img{
      height: 350px!important;
    }
   .finance-form{
     height: 350px;
   }
   .spinning{
    position: absolute;
    z-index: 99;
    top: 100px;
    left: -10px;
    margin-top: -113px;
    margin-left: 397px;

}
  </style>