<template>
  <div>
      <div style="margin-top: 150px; margin-left: 150px;">
        <h1 style="color: black;">We are Under Maintenance</h1>
        <p style="color: black;line-height: 1.9;">We are improving our website.We'll be Back Soon<br>with new cool features!</p>
    </div>
    <div style="position: absolute; left: 50%; bottom: 2%;">
        <img src="assets/img/launch.png" alt="Under Maintenance">
    </div>
  </div>
</template>

<script>
export default {
    name: 'MaintainanceComponent'

}
</script>

<style scoped>

</style>