<template>
  <div>
    <header id="header" class="fixed-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <div class="logo float-left">
              <a><img src="assets/img/logo.png" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <div class="col-6">
            <div>
              <h3 class="logo-text">CHP MIS BUDGET</h3>
            </div>
          </div>
          <div class="col-3">
            <div class="noti-div">
              <button
                type="button"
                v-on:click="backbtn()"
                class="btn btn-light head-btn mr-2"
              >
                <i class="fas fa-arrow-left myfafa-icon"></i>
              </button>
              <button
                v-on:click="index()"
                type="button"
                class="btn btn-light head-btn mr-2 ml-2"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Home"
              >
                <i class="fas fa-home myfafa-icon"></i>
              </button>

              <div
                class="btn-group"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Profile"
              >
                <button
                  type="button"
                  class="btn btn-light dropdown-toggle head-btn ml-2"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fas fa-user myfafa-icon"></i>
                </button>

                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" v-on:click="profile()">
                      <i class="far fa-user"></i>
                      Profile</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="far fa-bell"></i>
                      Notification</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item logout" v-on:click="logout()">
                      <i class="fas fa-sign-out-alt"></i>
                      Log Out</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="noti-div-2">
              <small class="pt-2 back-pad">Back</small>
              <small class="pt-2 pr-4">Home</small>
              <small class="pt-2">Profile</small>
            </div>
          </div>
        </div>

        <nav class="main-nav float-right d-none d-lg-block"></nav>
        <!-- .main-nav -->
      </div>
    </header>
    <div class="container-fluid card-cont drop-cont">
      <div class="row box-sh card-row">
        <div class="col-6">
          <div class="p-1 d-flex text-center justify-content-end">
            <div class="dropdown">
              <button
                class="btn btn-link my-btn drop-cont-btn p-1 dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-users myfafa-icon pr-1"></i>
                Create a user
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" v-on:click="organizationPage()"
                    >Organization</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="designationPage()"
                    >Designation</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="memberPage()">Members</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="p-1 d-flex text-center justify-content-start">
            <div class="dropdown">
              <button
                class="btn btn-link my-btn drop-cont-btn p-1 dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-chart-pie myfafa-icon pr-1"></i>
                Analysis
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" v-on:click="existingdbPage()"
                    >Existing Database</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="newdbPage()"
                    >New Database</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <main id="main">
      <section class="">
        <div class="container master-cont">
          <div class="row">
            <div class="col-md-12">
              <div class="panel">
                <div class="panel-heading">
                  <div class="row pb-4">
                    <div class="col-4 pl-0">
                      <h4 class="title">
                        <select
                          class="form-select"
                          aria-label="Default select example"
                          v-model="mycodes"
                          @change="allCodes(mycodes)"
                        >
                          <option value="" selected>Select Code</option>
                          <option value="1">Major Code</option>
                          <option value="2">Sub Major Code</option>
                          <option value="3">Minor Code</option>
                          <option value="4">Sub Minor Code</option>
                        </select>
                      </h4>
                    </div>
                    <div class="col-4"></div>
                    <div class="col-4 text-right">
                      <!-- <a href="#" class="btn btn-sm btn-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal"> Add New</a> -->
                      <select
                        class="form-select"
                        aria-label="Default select example"
                        v-model="code"
                        @change="codes(code)"
                      >
                        <option value="" selected>Select Code</option>
                        <option value="1">Add Major Code</option>
                        <option value="2">Add Sub Major Code</option>
                        <option value="3">Add Minor Code</option>
                        <option value="4">Add Sub Minor Code</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 pl-0">
                      <div class="card-2 white-cont">
                        <div class="p-3">
                          <table class="table table-bordered table-striped">
                            <thead>
                              <tr class="active">
                                <th>Code</th>
                                <th>Description</th>

                                <th class="master-th">Action</th>
                              </tr>
                            </thead>
                            <tbody
                              v-if="mycodes == 1"
                              id="example"
                              class="table table-striped table-bordered"
                              style="width: 100%"
                            >
                              <tr
                                v-for="majAp in allMajor"
                                :key="majAp.id"
                                :value="majAp.id"
                              >
                                <td>
                                  {{ majAp.code }}
                                </td>
                                <td>
                                  {{ majAp.description }}
                                </td>

                                <td class="master-td">
                                  <a
                                    v-on:click="editMajorCode(majAp.id)"
                                    class="btn btn-default"
                                    data-bs-toggle="modal"
                                    data-bs-target="#editmajor"
                                    ><em class="fa fa-edit"></em
                                  ></a>
                                  <a
                                    v-on:click="deleteMajorCode(majAp.id)"
                                    class="btn btn-danger"
                                    ><em class="fa fa-trash"></em
                                  ></a>
                                </td>
                              </tr>
                            </tbody>
                            <tbody
                              v-if="mycodes == 2"
                              id="example"
                              class="table table-striped table-bordered"
                              style="width: 100%"
                            >
                              <tr
                                v-for="majAp in allSubMajor"
                                :key="majAp.id"
                                :value="majAp.id"
                              >
                                <td>
                                  {{ majAp.code }}
                                </td>
                                <td>
                                  {{ majAp.description }}
                                </td>

                                <td class="master-td">
                                  <a class="btn btn-default"
                                  v-on:click="editSubMajorCode(majAp.id)"
                                   data-bs-toggle="modal"
                                    data-bs-target="#editsubmajor"
                                    ><em class="fa fa-edit"></em
                                  ></a>
                                  <a
                                    v-on:click="deleteSubMajorCode(majAp.id)"
                                    class="btn btn-danger"
                                    ><em class="fa fa-trash"></em
                                  ></a>
                                </td>
                              </tr>
                            </tbody>
                            <tbody v-if="mycodes == 3">
                              <tr
                                v-for="majAp in allMinor"
                                :key="majAp.id"
                                :value="majAp.id"
                              >
                                <td>
                                  {{ majAp.code }}
                                </td>
                                <td>
                                  {{ majAp.description }}
                                </td>

                                <td class="master-td">
                                  <a class="btn btn-default"
                                  v-on:click="editMinorCode(majAp.id)"
                                   data-bs-toggle="modal"
                                    data-bs-target="#editminorcode"
                                    ><em class="fa fa-edit"></em
                                  ></a>
                                  <a
                                    v-on:click="deleteMinorCode(majAp.id)"
                                    class="btn btn-danger"
                                    ><em class="fa fa-trash"></em
                                  ></a>
                                </td>
                              </tr>
                            </tbody>
                            <tbody v-if="mycodes == 4">
                              <tr
                                v-for="majAp in allSubMinor"
                                :key="majAp.id"
                                :value="majAp.id"
                              >
                                <td>
                                  {{ majAp.code }}
                                </td>
                                <td>
                                  {{ majAp.description }}
                                </td>

                                <td class="master-td">
                                  <a v-on:click="editSubMinorCode(majAp.id)"
                                  class="btn btn-default"
                                  data-bs-toggle="modal"
                                    data-bs-target="#editsubminorcode"
                                    ><em class="fa fa-edit"></em
                                  ></a>
                                  <a
                                    v-on:click="deleteSubMinorCode(majAp.id)"
                                    class="btn btn-danger"
                                    ><em class="fa fa-trash"></em
                                  ></a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- modal -->

    <!-- Button trigger modal -->

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Code</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Email address</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
                <div id="emailHelp" class="form-text">
                  We'll never share your email with anyone else.
                </div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                />
              </div>
              <div class="mb-3 form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="exampleCheck1"
                />
                <label class="form-check-label" for="exampleCheck1"
                  >Check me out</label
                >
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- edit major code modal -->
    <!-- ======= Footer ======= -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- edit major code modal start-->

    
    <div
      class="modal fade"
      id="editmajor"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Major Code</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="form-bg">
              <div class="container">
                <div class="row allot-form-row">
                  <div class="col-md-12">
                    <div class="pb-3">
                      <form
                        class="form-horizontal"
                        v-on:submit.prevent="updateMasterMajor()"
                      >
                        <div class="form-group">
                          <label>Major Code</label>
                          <input
                            type="text"
                            v-model="mastermajor.code"
                            class="form-control"
                            placeholder="Major Code"
                          />
                        </div>
                        <div class="form-group">
                          <label>Major Code Description</label>
                          <input

                            type="text"
                            v-model="mastermajor.description"
                            class="form-control"
                            placeholder="Major Code Description"
                          />
                        </div>
                        <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button type="submit" class="btn btn-primary">
              Update changes
            </button>
          </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!-- edit major code modal end  -->

    <!-- edit sub major code start -->
    <div
      class="modal fade"
      id="editsubmajor"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Sub Major Code</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="form-bg">
                <div class="container">
                  <div class="row allot-form-row">
                    <div class="col-md-12">
                      <div class=" pb-3">
                        <h3 class="title"></h3><form class="form-horizontal" v-on:submit.prevent="updateMasterSubMajor()">
                          
                          <div class="form-group">
                            <label>Sub Major Code</label>
                            <input
                              type="text"

                              v-model="mastersubmajor.code"
                              class="form-control"
                              placeholder="Sub Major Code"
                            />
                          </div> 
                           <div class="form-group">
                            <label>Sub Major Code Description</label>
                            <input
                              type="text"
                              v-model="mastersubmajor.description"
                              class="form-control"
                              placeholder="Sub Major Code Description"
                            />
                          </div> 
                          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button type="submit" class="btn btn-primary">
              Update changes
            </button>
          </div>
                        
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <!-- edit sub major code end -->

    <!-- edit minor code start -->
    <div
      class="modal fade"
      id="editminorcode"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Minor Code</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="form-bg">
                <div class="container">
                  <div class="row allot-form-row">
                    <div class="col-md-12">
                      <div class=" pb-3">
                       
                        <form class="form-horizontal" v-on:submit.prevent="updateMasterMinor()">
                          <!-- <div class="form-group">
                            <label>Sub Major Code</label>
                            <select
                            v-model="submajorcode"
                            v-on:click ="allSubMajCode()"
                            class="form-select"
                            aria-label="Default select example"
                            
                            >
                            <option value="">Select major code</option>
                            <option v-for="(data) in allsubmajcodeapi" :key="data.id" :value="data.code">{{data.description}}</option>
                            </select>
                          </div> -->
                          <div class="form-group">
                            <label>Minor Code</label>
                            <input
                              type="text"
                              v-model="masterminor.code"
                              class="form-control"
                              placeholder="Minor Code"
                            />
                          </div> 
                           <div class="form-group">
                            <label>Minor Code Description</label>
                            <input
                            v-model="masterminor.description"
                              type="text"
                              class="form-control"
                              placeholder="Minor Code Description"
                            />
                          </div> 
                          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button type="submit" class="btn btn-primary">
              Update changes
            </button>
          </div>
                        
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- edit minor code end -->

     <!-- edit sub minor code start -->
    <div
      class="modal fade"
      id="editsubminorcode"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Sub Minor Code</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
              <div class="form-bg">
                <div class="container">
                  <div class="row allot-form-row">
                    <div class="col-md-12">
                      <div class=" pb-3">
                       
                        <form class="form-horizontal" v-on:submit.prevent="updateMasterSubMinor()">
                          <!-- <div class="form-group">
                            <label>Minor Code</label>
                            <select
                            v-model="minor_code_id"
                            v-on:click ="allMinorCode()"
                            class="form-select"
                            aria-label="Default select example"
                            >
                            <option value="">Select minor code</option>
                            <option v-for="(data) in allminorcodeapi" :key="data.id" :value="data.code">{{data.description}}</option>
                            </select>
                          </div> -->
                          <div class="form-group">
                            <label>Sub Minor Code</label>
                            <input
                              type="text"
                              v-model="mastersubminor.code"
                              class="form-control"
                              placeholder="Sub Minor Code"
                            />
                          </div> 
                           <div class="form-group">
                            <label>Sub Minor Code Description</label>
                            <input
                              type="text"
                              v-model="mastersubminor.description"
                              class="form-control"
                              placeholder="Sub Minor Code Description"
                            />
                          </div> 
                          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button type="submit" class="btn btn-primary">
              Update changes
            </button>
          </div>
                        
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- edit sub minor code end -->
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "AfterLoginComponent",
  data() {
    return {
      code: "",
      mycodes: "",
      allMajor: "",
      allSubMajor: "",
      allMinor: "",
      allSubMinor: "",
      mastermajor:'',
      mastersubmajor:'',
      allmajcodeapi:'',
      masterminor:'',
      mastersubminor:''
      // allCodes:''
    };
  },
  mounted() {
    this.allCodes(mycodes);
  },
  methods: {
    majCodes(){
      axios
      .get('all_major_code')
      .then((response)=>{
        console.log(response);
        this.allmajcodeapi = response.data.data;
      })
    },
    allCodes(mycodes) {
      if (mycodes == 1) {
        axios.get("all_major_code").then((response) => {
          console.log(response.data.data);
          this.allMajor = response.data.data;
        });
      }
      if (mycodes == 2) {
        axios.get("all_sub_major_code").then((response) => {
          console.log(response.data.data);
          this.allSubMajor = response.data.data;
        });
      }
      if (mycodes == 3) {
        axios.get("all_minor_code").then((response) => {
          console.log(response.data.data);
          this.allMinor = response.data.data;
        });
      }
      if (mycodes == 4) {
        axios.get("all_sub_minor_code").then((response) => {
          console.log(response.data.data);
          this.allSubMinor = response.data.data;
        });
      }
    },
    codes(code) {
      if (code == 1) {
        this.$router.push("/add_major_code");
      }
      if (code == 2) {
        this.$router.push("/add_sub_major_code");
      }
      if (code == 3) {
        this.$router.push("/add_minor_code");
      }
      if (code == 4) {
        this.$router.push("/add_sub_minor_code");
      }
    },
    createUser() {
      this.$router.push("/create_user");
    },
    analysis() {
      this.$router.push("/analysis");
    },
    logout() {
      const delToken = localStorage.removeItem("user");
      this.$router.push("/");
    },
    organizationPage() {
      this.$router.push("/organization");
    },
    designationPage() {
      this.$router.push("/designation");
    },
    memberPage() {
      this.$router.push("/team_member");
    },
    existingdbPage() {
      this.$router.push("/index1");
    },
    newdbPage() {
      this.$router.push("/upload_file");
    },
    index() {
      this.$router.push("/index");
    },
    backbtn() {
      this.$router.push("/index");
    },
    add_major_code() {
      alert("hi");
      this.$router.push("/add_major_code");
    },
    deleteMajorCode(id) {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((response) => {
        if (response.isConfirmed) {
          console.log("hi");
          axios.get("delete_major_code/" + id).then((response) => {
            axios.get("all_major_code").then((response) => {
              this.allMajor = response.data.data;
            });
            Swal.fire("Deleted!", "Your file has been deleted.", "success");
          });
        }
      });
    },
    editMajorCode(id){
      axios
      .get('edit_Master_major/'+ id)
      .then((response)=>{
        console.log(response);
        this.mastermajor = response.data.data;
        console.log(this.mastermajor);
      })
    },
    updateMasterMajor(){
      axios
            .post('update_master_major',this.mastermajor)
            .then((response)=>{
                Swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Updated Successfully!',
              showConfirmButton: false,
              timer: 1500
})
              this.mastermajor = '';
              axios.get("all_major_code").then((response) => {
          console.log(response.data.data);
          this.allMajor = response.data.data;
        });
         console.log(response);
            });
    },
    deleteSubMajorCode(id) {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((response) => {
        if (response.isConfirmed) {
          console.log("hi");
          axios.get("delete_sub_major_code/" + id).then((response) => {
            axios.get("all_sub_major_code").then((response) => {
              this.allSubMajor = response.data.data;
            });
            Swal.fire("Deleted!", "Your file has been deleted.", "success");
          });
        }
      });
    },
    editSubMajorCode(id){
      axios
      .get('edit_master_submajor/'+ id)
      .then((response)=>{
        console.log(response);
        this.mastersubmajor = response.data.data;
        console.log(this.mastersubmajor);
      })
    },
    updateMasterSubMajor(){
      axios
            .post('update_master_submajor',this.mastersubmajor)
            .then((response)=>{
                Swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Updated Successfully!',
              showConfirmButton: false,
              timer: 1500
})
              this.mastermajor = '';
              axios.get("all_sub_major_code").then((response) => {
                this.allSubMajor = response.data.data;
        });
         console.log(response);
            });
    },
    deleteMinorCode(id) {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((response) => {
        if (response.isConfirmed) {
          console.log("hi");
          axios.get("delete_minor_code/" + id).then((response) => {
            axios.get("all_minor_code").then((response) => {
              this.allMinor = response.data.data;
            });
            Swal.fire("Deleted!", "Your file has been deleted.", "success");
          });
        }
      });
    },
    editMinorCode(id){
      axios
      .get('edit_master_minor/'+ id)
      .then((response)=>{
        console.log(response);
        this.masterminor = response.data.data;
        console.log(this.masterminor);
      })
    },
    updateMasterMinor(){
      axios
            .post('update_master_minor',this.masterminor)
            .then((response)=>{
                Swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Updated Successfully!',
              showConfirmButton: false,
              timer: 1500
})
              this.masterminor = '';
              axios.get("all_minor_code").then((response) => {
                this.allMinor = response.data.data;
        });
         console.log(response);
            });
    },
    deleteSubMinorCode(id) {
      Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((response) => {
        if (response.isConfirmed) {
          axios.get("delete_sub_minor_code/" + id).then((response) => {
            axios.get("all_sub_minor_code").then((response) => {
              this.allSubMinor = response.data.data;
            });
            Swal.fire("Deleted!", "Your file has been deleted.", "success");
          });
        }
      });
    },
    editSubMinorCode(id){
      axios
      .get('edit_master_subminor/'+ id)
      .then((response)=>{
        console.log(response);
        this.mastersubminor = response.data.data;
        console.log(this.masterminor);
      })
    },
    updateMasterSubMinor(){
      axios
            .post('update_master_subminor',this.mastersubminor)
            .then((response)=>{
                Swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Updated Successfully!',
              showConfirmButton: false,
              timer: 1500
})
              this.mastersubminor = '';
              axios.get("all_sub_minor_code").then((response) => {
                this.allSubMinor = response.data.data;
        });
         console.log(response);
            });
    },
  },
};
$("#change").change(function () {
  //this is just getting the value that is selected
  var title = $(this).val();
  $(".modal-title").html(title);
  $(".modal").modal("show");
});
</script>

<style>
.my-cont {
  padding-top: 100px !important;
}
.chp-login-form {
  border: 1px solid black;
}
.finance-login-button {
  width: 100px;
  height: 40px;
}
.finance-img {
  height: 350px !important;
}
.finance-form {
  height: 350px;
}
.after-login-container {
  padding-top: 30px !important;
}
.profile-icon-2 {
  height: 75px;
  width: 70px;
}
.after-login-btn {
  color: #fff !important;
  border-radius: 50% !important;
  height: 44px;
  width: 44px;
}
.fafa-btn {
  font-size: 24px;
}
.card-col:hover {
  background-image: linear-gradient(
    to right top,
    #5191f0,
    #4ea4eb,
    #29b3f3,
    #5ccdf3,
    #4bd0f5
  );
  color: #fff;
  border-radius: 10px;
}
.card-col:hover button {
  background-image: linear-gradient(
    to right top,
    #f8f8f8,
    #f6fbff,
    #f5fcff,
    #dff7ff,
    #ebfbff
  );
  color: #5191f0 !important;
  border-radius: 10px;
}

.card-col .after-login-btn:hover {
  background-color: rgb(28, 60, 243);
  color: #fff;
}
.head-btn {
  background-color: #fff;
}
.myfafa-icon {
  color: #5191f0;
}
.noti-div-2 {
  float: right;
  margin-top: 53px;
  margin-right: -156px;
}
.back-pad {
  padding-right: 27px;
}
.bg-image {
  height: 575px;
}
.drop-cont-btn {
  font-weight: bold !important;
}

.card-top-2:hover h4 {
  color: #fff !important;
}
.my-cont-new {
  padding-top: 120px !important;
  padding-bottom: 50px;
}

.allot-form-row {
  display: flex;
  justify-content: center;
}
.master-cont {
  padding-top: 115px;
}

.demo {
  font-family: "Poppins", sans-serif;
}
.panel {
  padding: 10px;
  border-radius: 0;
}
.panel .panel-heading {
  padding: 20px 15px 0;
}
.panel .panel-heading .title {
  color: #222;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
}
.panel .panel-heading .btn {
  background-color: #6d7ae0;
  padding: 6px 12px;
  border-radius: 0;
  border: none;
  transition: all 0.3s ease 0s;
}
.panel .panel-heading .btn:hover {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.08);
}
.panel .panel-body .table {
  margin: 0;
  border: 1px solid #e7e7e7;
}
.panel .panel-body .table tr td {
  border-color: #e7e7e7;
}
.panel .panel-body .table thead tr.active th {
  color: #fff;
  background-color: #6d7ae0;
  font-size: 16px;
  font-weight: 500;
  padding: 12px;
  border: 1px solid #6d7ae0;
}
.panel .panel-body .table tbody tr:hover {
  background-color: rgba(109, 122, 224, 0.1);
}
.panel .panel-body .table tbody tr td {
  color: #555;
  padding: 8px 12px;
  vertical-align: middle;
}
.panel .panel-body .table tbody .btn {
  border-radius: 0;
  transition: all 0.3s ease;
}
.panel .panel-body .table tbody .btn:hover {
  box-shadow: 0 0 0 2px #333;
}
.panel .panel-footer {
  background-color: #fff;
  padding: 0 15px 5px;
  border: none;
}
.panel .panel-footer .col {
  line-height: 35px;
}
.pagination {
  margin: 0;
}
.pagination li a {
  font-size: 15px;
  font-weight: 600;
  color: #6d7ae0;
  text-align: center;
  height: 35px;
  width: 35px;
  line-height: 33px;
  padding: 0;
  margin: 0 2px;
  display: block;
  transition: all 0.3s ease 0s;
}
.pagination li:first-child a,
.pagination li:last-child a {
  border-radius: 0;
}
.pagination li a:hover,
.pagination li a:focus,
.pagination li.active a {
  color: #fff;
  background-color: #6d7ae0;
}
tr {
  background-color: #fff;
}
.master-td {
  text-align: center;
}
.master-th {
  text-align: center;
}
</style>
