<template>
  <div>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <div class="logo float-left">
              <a><img src="assets/img/logo.png" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <div class="col-6">
            <div>
              <h3 class="logo-text">CHP MIS BUDGET</h3>
            </div>
          </div>
          <div class="col-3">
            <div class="noti-div">
              <button
                type="button"
                v-on:click="backbtn()"
                class="btn btn-light head-btn mr-2"
              >
                <i class="fas fa-arrow-left myfafa-icon"></i>
              </button>
              <button
                v-on:click="index()"
                type="button"
                class="btn btn-light head-btn mr-2 ml-2"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Home"
              >
                <i class="fas fa-home myfafa-icon"></i>
              </button>

              <div
                class="btn-group"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Profile"
              >
                <button
                  type="button"
                  class="btn btn-light dropdown-toggle head-btn ml-2"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fas fa-user myfafa-icon"></i>
                </button>

                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" v-on:click="profile()">
                      <i class="far fa-user"></i>
                      Profile</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="far fa-bell"></i>
                      Notification</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item logout" v-on:click="logout()">
                      <i class="fas fa-sign-out-alt"></i>
                      Log Out</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="noti-div-2">
              <small class="pt-2 back-pad">Back</small>
              <small class="pt-2 pr-4">Home</small>
              <small class="pt-2">Profile</small>
            </div>
          </div>
        </div>

        <nav class="main-nav float-right d-none d-lg-block"></nav>
        <!-- .main-nav -->
      </div>
    </header>
    <!-- #header -->

    <main id="main"></main>
    <section>
      <div class="container-fluid my-cont">
        <div class="row my-row first-card fixed-card pt-4 pb-4 row-card">
          <div class="col-3">
            <div class="wid">
              <select
                class="form-select"
                aria-label="Default select example"
                v-model="district"
                @change="selectDistrict(district)"
              >
                <option value="">Select Dsitrict</option>
                <option
                  v-for="districts in all_districts"
                  :key="districts.district"
                  :value="districts.district"
                >
                  {{ districts.district }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-3">
            <div class="wid">
              <select
                class="form-select"
                id="wid-2"
                aria-label="Default select example"
                v-model="treasury"
                @change="selectTreasury(treasury)"
              >
                <option value="">Select Treasury</option>
                <option
                  v-for="by in all_treasury"
                  :key="by.treasury"
                  :value="by.treasury"
                >
                  {{ by.treasury }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-3">
            <div class="wid">
              <select
                class="form-select"
                id="wid-2"
                aria-label="Default select example"
                v-model="office"
                @change="selectOfficeLevel(office)"
              >
                <option value="">Select Office Level</option>
                <option
                  v-for="office in office_level"
                  :key="office.office_level"
                  :value="office.office_level"
                >
                  {{ office.office_level }}
                </option>
              </select>
            </div>
          </div>
          <div class="col-3">
            <div class="wid">
              <select
                class="form-select"
                id="wid-2"
                aria-label="Default select example"
                v-model="off_id"
                @change="selectOfficeId(off_id)"
              >
                <option value="">Select Office ID</option>
                <option v-for="iddata in office_id_data"
                :key="iddata.id"
                :value="iddata.office_id">{{iddata.office_id}}</option>
              </select>
            </div>
          </div>
        
        </div>
      </div>
    </section>
    <section>
      <div class="container-fluid pt-5 my-payment-cont">
        <div class="row my-row pt-4 pb-4">
          <div class="col-md-4">
            <a v-on:click="table()" class="code-card">
              <div class="white-cont p-5 amt-card amt-card-1">
                <h3 class="amt-h3">Alloted Amount</h3>

                <h5 class="amt-h5">₹</h5>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a v-on:click="table()" class="code-card">
              <div class="white-cont p-5 amt-card amt-card-2">
                <h3 class="amt-h3">Expenditure Amount</h3>
                <h5 class="amt-h5">₹</h5>
              </div>
            </a>
          </div>
          <div class="col-md-4">
            <a v-on:click="table()" class="code-card">
              <div class="white-cont p-5 amt-card amt-card-3">
                <h3 class="amt-h3">Available Amount</h3>
                <h5 class="amt-h5">₹</h5>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container-fluid cont-2">
        <div class="row">
          <div class="col-12 pb-3">
            <label for="exampleDataList" class="form-label">Search </label>
            <input
              class="form-control table-search"
              list="datalistOptions"
              id="exampleDataList"
              placeholder="Type to search by code..."
              v-model="search"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card-2 white-cont">
              <div class="p-3">
                <table
                  id="tab1"
                  class="table table-striped table-bordered"
                  style="width: 100%"
                >
                  <thead>
                    <tr>
                      <th>S.No</th>
                      <th>Office Id</th>
                      <th>District</th>
                      <th>Treasury</th>
                      <th>Alloted Amount</th>
                      <th>Expenditure Amount</th>
                      <th>Available Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="data in allData"
                  :key="data.id"
                  :value="data.office_id">
                  <td>{{data.office_id}}</td>
                  <td>{{data.office_id}}</td>
                  <td>{{data.district}}</td>
                  <td>{{data.treasury}}</td>
                  <td>{{data.allotted_amount}}</td>
                  <td>{{data.expenditure_amount}}</td>
                  <td>{{data.available_amount}}</td>
                  </tr>
                  </tbody>
                </table>
                <div class="entry-div">
                  <div class="result">
                    <p>{{this.totalresult}} results found</p>
                  </div>

                  <div>
                    <b-pagination
                      v-model="currentPage"
                      :total-rows="rows"
                      :per-page="cols"
                      aria-controls="listItems"
                      prev-text="Prev"
                      next-text="Next"
                      pills
                    >
                    </b-pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- End #main -->

    <!-- ======= Footer ======= -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "OfficeWiseComponent",
  data() {
    return {
      all_districts: "",
      district: "",
      districtBy: "",
      all_treasury: "",
      treasury: "",
      office_level: "",
      office: "",
      office_id_data: "",
      allData:'',
      search:'',
      off_id:'',
      totalresult:'',
      currentPage:1,
      items:'',
      rows:this.items,
      cols:5,
    };
  },
  mounted() {
    this.getDistrict();
  },
  methods: {
    getDistrict() {
      axios.get("get_district").then((response) => {
        this.all_districts = response.data;
        console.log(this.all_districts);
      });
    },
    selectDistrict(district) {
      axios.get("all_treasury/" + district).then((response) => {
        this.all_treasury = response.data;
      });
      axios
      .get('district/' + district)
      .then((response)=>{
          this.allData = response.data[0].data;
          this.totalresult = response.data[0].total;
          this.items = response.data[0].last_page;
          this.rows = response.data[0].total;          
      })
    },
    selectTreasury(treasury) {
      axios.get("get_office_level/" + treasury).then((response) => {
        this.office_level = response.data[0];
      });
      axios
      .post('treasury_filter',{
        district: this.district,
        treasury: treasury
      })
      .then((response)=>{
        this.allData = response.data.data.data;
        this.totalresult = response.data.data.total;
        this.items = response.data.data.last_page;
        this.rows = response.data.data.total;
      });
    },
    selectOfficeLevel(office) {
      axios
        .post("get_office_id", {
          treasury: this.treasury,
          office_level: office,
        })
        .then((response) => {
          this.office_id_data = response.data[0];
        });
      axios
      .post('office_level_filter',{
        district: this.district,
        treasury: this.treasury,
        office_level: this.office
      })
      .then((response)=>{
        this.allData = response.data.data.data;
        this.totalresult = response.data.data.total;
        this.items = response.data.data.last_page;
        this.rows = response.data.data.total;
      })
    },
    selectOfficeId(off_id){
      console.log(off_id);
        axios
        .post('office_id_filter',{
            district: this.district,
            treasury: this.treasury,
            office_level: this.office,
            office_id: this.off_id,
        })
        .then((response)=>{
            this.allData = response.data.data.data;
            this.totalresult = response.data.data.total;
            this.items = response.data.data.last_page;
            this.rows = response.data.data.total;
        })
    }
  },
  watch:{
      currentPage(val){
      },
      cols(val) {
      this.currentPage = 1;
    }
  }
};
</script>

<style>
</style>