<template>
  <div>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <div class="logo float-left">
              <a><img src="assets/img/logo.png" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <div class="col-6">
            <div>
              <h3 class="logo-text">CHP MIS BUDGET</h3>
            </div>
          </div>
          <div class="col-3">
            <div class="noti-div">
              <button
                type="button"
                v-on:click="backbtn()"
                class="btn btn-light head-btn mr-2"
              >
                <i class="fas fa-arrow-left myfafa-icon"></i>
              </button>
              <button
                v-on:click="index()"
                type="button"
                class="btn btn-light head-btn mr-2 ml-2"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Home"
              >
                <i class="fas fa-home myfafa-icon"></i>
              </button>

              <div
                class="btn-group"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Profile"
              >
                <button
                  type="button"
                  class="btn btn-light dropdown-toggle head-btn ml-2"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fas fa-user myfafa-icon"></i>
                </button>

                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" v-on:click="profile()">
                      <i class="far fa-user"></i>
                      Profile</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="far fa-bell"></i>
                      Notification</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item logout" v-on:click="logout()">
                      <i class="fas fa-sign-out-alt"></i>
                      Log Out</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="noti-div-2">
              <small class="pt-2 back-pad">Back</small>
              <small class="pt-2 pr-4">Home</small>
              <small class="pt-2">Profile</small>
            </div>
          </div>
        </div>

        <nav class="main-nav float-right d-none d-lg-block"></nav>
        <!-- .main-nav -->
      </div>
    </header>
    <div class="container-fluid card-cont">
      <div class="row box-sh card-row">
        <div class="col-6">
          <div class="p-1 d-flex text-center justify-content-end">
            <div class="dropdown">
              <button
                class="btn btn-link my-btn drop-cont-btn p-1 dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-users myfafa-icon pr-1"></i>
                Create a user
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" v-on:click="organizationPage()">Organization</a>
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="designationPage()">Designation</a>
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="memberPage()">Members</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="p-1 d-flex text-center justify-content-start">
            <div class="dropdown">
              <button
                class="btn btn-link my-btn drop-cont-btn p-1 dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-chart-pie myfafa-icon pr-1"></i>
                Analysis
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" v-on:click="existingdbPage()">Existing Database</a>
                </li>
                

                <li>
                  <a class="dropdown-item" v-on:click="newdbPage()">New Database</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="add-member">
      <div class="container-fluid">
        <div class="row">
          <!-- table -->

          <div class="col-md-12">
            <div class="d-flex w-100 justify-content-between">
              <div class="pl-3 team-text">
                <h3>Organization</h3>
              </div>
              <div class=""></div>
              <div class="d-flex justify-content-end">
                <input
                  class="form-control"
                  id="myInput"
                  type="text"
                  placeholder="Search.."
                />
                <a
                  href="#"
                  data-bs-toggle="modal"
                  data-bs-target="#addorg"
                  class="pl-3"
                >
                  <button type="button" class="btn btn-primary pl-3">
                    Add Organization
                  </button></a
                >
              </div>
            </div>

            <br />
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Sr. No.</th>
                  <!-- <th>Mobile</th>
                                    <th>Email</th>
                                    <th>Role</th> -->
                  <th>Organization</th>
                  <!-- <th>Designation</th> -->
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="myTable">
                <tr
                  v-for="(data,index) in organization1"
                  :key="data.id"
                  i = index
                  :value="data.id"
                >
                  <td>{{ index+1 }}</td>
                  <!-- <td>{{data.mobile}}</td>
                                    <td>{{data.email}}</td>
                                    <td>{{data.role_id}}</td> -->
                  <td>{{ data.organization }}</td>
                  <!-- <td>{{data.designation}}</td> -->
                  <td>
                                        <button
                                            type="button"
                                            class="btn btn-success mr-3  "
                                            data-bs-toggle="modal" data-bs-target="#editorg"
                                            v-on:click="editOrganization(data.id)"

                                        >
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                        <button
                                            type="button"
                                            class="btn btn-danger"
                                            v-on:click="deleteOrganization(data.id)"
                                        >
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <!-- modal organization -->
    <div
      class="modal fade"
      id="addorg"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <form v-on:submit.prevent="addOrganization()">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Add Organization
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Organization"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                  v-model="organization"
                />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- add organization modal end -->

    <!-- edit organization modal start -->

    <div
      class="modal fade"
      id="editorg"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <form v-on:submit.prevent="updateOrganization()">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Edit Organization
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter Organization"
                  aria-label="Username"
                  aria-describedby="basic-addon1"
                  v-model= organData.organization
                />
              </div>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
              <button type="submit" class="btn btn-primary">Update</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- edit member modal end  -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "OrganizationComponent",
  data() {
    return {
      organization: "",
      organization1: "",
      allData: "",
      organData:''
    };
  },
  mounted() {
    this.openOrganization();
  },
  methods: {
    openOrganization() {
      axios.get("/all_organization").then((response) => {
        this.organization1 = response.data.data;
        console.log(this.organization1, "xs");
      });
    },
    index() {
      this.$router.push("/index");
    },
    profile() {
      this.$router.push("/profile");
    },
    logout() {
      const delToken = localStorage.removeItem("user");
      this.$router.push("/");
    },
    backbtn() {
      this.$router.push("/create_user");
    },
    addOrganization() {
      axios
        .post("add_organization", {
          organization: this.organization,
        })
        .then((response) => {
           Swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Added Successfully!',
              showConfirmButton: false,
              timer: 1500
})
this.openOrganization();
          this.organization = "";
        });
    },
    organizationPage(){
      this.$router.push('/organization');
    },
    designationPage(){
      this.$router.push('/designation');
    },
    memberPage(){
      this.$router.push('/team_member');
    },
    existingdbPage(){
      this.$router.push('/index1');
    },
    newdbPage(){
      this.$router.push('/upload_file');
    },
    deleteOrganization(id){
            Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((response) => {
        if (response.isConfirmed) {
            console.log("hi")
          axios
            .get("delete_organization/" + id)
            .then((response) => {
                  this.openOrganization();
              Swal.fire("Deleted!", "Your file has been deleted.", "success");
            });
        }
      });
        },
        editOrganization(id){
            axios
            .get('edit_organization/'+ id)
            .then((response)=>{
                console.log(response);
                this.organData = response.data.data;
                console.log(this.organData,'data');
            })
        },
        updateOrganization(){
            axios
            .post('update_organization',this.organData)
            .then((response)=>{
              Swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Updated Successfully!',
              showConfirmButton: false,
              timer: 1500
})
              this.organData = '';
              this.openOrganization();
                console.log(response);
            });
        }
  },
};
</script>

<style>
.add-member {
  padding: 45px 0 30px;
}

.submit-btn {
  width: 120px;
}

.add-member-modal-dialog {
  max-width: 750px !important;
}
.team-text {
  padding-right: 50%;
  text-align: left;
}

</style>
