<template>
    <div>
        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <div class="logo float-left">
                            <a
                                ><img
                                    src="assets/img/logo.png"
                                    alt=""
                                    class="img-fluid"
                            /></a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            <h3 class="logo-text">CHP MIS BUDGET</h3>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="noti-div">
                            <button
                                type="button"
                                v-on:click="backbtn()"
                                class="btn btn-light head-btn mr-2"
                            >
                                <i class="fas fa-arrow-left myfafa-icon"></i>
                            </button>
                            <button
                                v-on:click="index()"
                                type="button"
                                class="btn btn-light head-btn mr-2 ml-2"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="Home"
                            >
                                <i class="fas fa-home myfafa-icon"></i>
                            </button>

                            <div
                                class="btn-group"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="Profile"
                            >
                                <button
                                    type="button"
                                    class="btn btn-light dropdown-toggle head-btn ml-2"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    <i class="fas fa-user myfafa-icon"></i>
                                </button>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            v-on:click="profile()"
                                        >
                                            <i class="far fa-user"></i>
                                            Profile</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="far fa-bell"></i>
                                            Notification</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item logout"
                                            v-on:click="logout()"
                                        >
                                            <i class="fas fa-sign-out-alt"></i>
                                            Log Out</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="noti-div-2">
                            <small class="pt-2 back-pad">Back</small>
                            <small class="pt-2 pr-4">Home</small>
                            <small class="pt-2">Profile</small>
                        </div>
                    </div>
                </div>

                <nav class="main-nav float-right d-none d-lg-block"></nav>
                <!-- .main-nav -->
            </div>
        </header>
        <!-- #header -->
       
       <div class="container-fluid card-cont drop-cont">
      <div class="row box-sh card-row">
        <div class="col-6">
          <div class="p-1 d-flex text-center justify-content-end">
            <div class="dropdown">
              <button
                class="btn btn-link my-btn drop-cont-btn p-1 dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-users myfafa-icon pr-1"></i>
                Create a user
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" v-on:click="organizationPage()">Organization</a>
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="designationPage()">Designation</a>
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="memberPage()">Members</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="p-1 d-flex text-center justify-content-start">
            <div class="dropdown">
              <button
                class="btn btn-link my-btn drop-cont-btn p-1 dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-chart-pie myfafa-icon pr-1"></i>
                Analysis
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" v-on:click="existingdbPage()">Existing Database</a>
                </li>

                <li>
                  <a class="dropdown-item" v-on:click="newdbPage()">New Database</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="container my-cont">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-top box-sh">
                        <div class="card-body">
                            <a v-on:click="codewisePage()">
                                <img
                                    class="img-center pt-2"
                                    src="assets/img/budget.png"
                                />
                                <h6 class="text-center head-1">Code Wise</h6>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card card-top box-sh">
                        <div class="card-body">
                            <a v-on:click="customized_allotment()">
                                <img
                                    class="img-center pt-2"
                                    src="assets/img/allot.png"
                                />
                                <h6 class="text-center head-1">Customized Allotment</h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-top-m box-sh">
                        <div class="card-body">
                            <a v-on:click="districtWise()">
                                <img
                                    class="img-center pt-2"
                                    src="assets/img/objcode.png"
                                />
                                <h6 class="text-center head-1">
                                    District and Treasury wise
                                </h6>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card card-top-m box-sh">
                        <div class="card-body">
                            <a v-on:click="officewise()">
                                <img
                                    class="img-center pt-2"
                                    src="assets/img/top-budget-line.png"
                                />
                                <h6 class="text-center head-1">
                                    Ofiice Level wise
                                </h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-md-12">
                    <div class="card card-top-m box-sh">
                        <div class="card-body">
                            <a v-on:click="powerbi()" class="pt-2">
                                <img
                                    class="img-center card-img "
                                    src="assets/img/report.png"
                                />
                                <h6 class="text-center head-1">
                                    Complete Analysis Report
                                </h6>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ======= Footer ======= -->
        <!-- upload modal -->
        <div
            class="modal fade"
            id="uploadmodal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog">
                <form id="mainFormUsers">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                Upload File
                            </h5>
                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group">
                                <input
                                    type="file"
                                    name="select_excel_file"
                                    class="form-control"
                                    id="inputGroupFile04"
                                    aria-describedby="inputGroupFileAddon04"
                                    aria-label="Upload"
                                />
                                <button
                                    class="btn btn-outline-secondary"
                                    type="submit"
                                    id="inputGroupFileAddon04"
                                    @click.prevent="saveExcelUser"
                                >
                                    Upload
                                </button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                            >
                                Close
                            </button>
                            <!-- <button type="submit" class="btn btn-primary">
                                Save
                            </button> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- upload modal -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    </div>
</template>

<script>
import axios from "axios";
export default {
    name: "PostLoginComponent",

    data() {
        return {
            organization: "",
            designation: "",
            excel: ""
        };
    },
    methods: {
        addOrganization() {
            axios
                .post("/add_organization", {
                    organization: this.organization
                })
                .then(response => {
                    console.log(response);
                    this.organization = "";
                });
        },
        backbtn() {
            this.$router.push("analysis");
        },
        index() {
            this.$router.push("/index");
        },
        profile() {
            this.$router.push("/profile");
        },
        inprogress() {
            this.$router.push("/in_progress");
        },
        team() {
            this.$router.push("/team_member");
        },
        logout() {
            const delToken = localStorage.removeItem("user");
            this.$router.push("/");
        },
        orgpage() {
            this.$router.push("/organization");
        },
        degpage() {
            this.$router.push("/designation");
        },
        saveExcelUser() {
            var data = new FormData(document.getElementById("mainFormUsers"));
            axios.post("import", data).then(response => {
                console.log(response);
                Swal.fire(
                    "Uploaded!",
                    "Your file has been uploaded.",
                    "success"
                );
            });
        },
        organizationPage(){
      this.$router.push('/organization');
    },
    designationPage(){
      this.$router.push('/designation');
    },
    memberPage(){
      this.$router.push('/team_member');
    },
    existingdbPage(){
      this.$router.push('/index1');
    },
    newdbPage(){
      this.$router.push('/upload_file');
    },
    codewisePage(){
        this.$router.push('/tab1');
    },
    powerbi(){
        this.$router.push('/power_bi');
    },
    customized_allotment(){
        this.$router.push('/customized_allotment');
    },
    districtWise(){
        this.$router.push('/district_wise');
    },
    officewise(){
        this.$router.push('/office_wise');
    }
    },
    mounted() {
        const api_token = localStorage.getItem("user");
        if (api_token == null) {
            this.$router.push("/");
        }
    }
};
</script>

<style>
.my-cont {
    padding-top: 120px !important;
}

.card-top {
    margin-top: 40px;
    height: 175px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.911);
}

.card-top:hover {
    background: rgb(215, 217, 224);
    background-image: linear-gradient(
        to right top,
        #5191f0,
        #4ea4eb,
        #29b3f3,
        #5ccdf3,
        #4bd0f5
    );
    color: #fff !important;
}
.card-top:hover h6{
   
    color: #fff !important;
}

.card-top-m {
    margin-top: 40px;
    height: 175px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.911);
}

.card-top-m:hover {
    background: rgb(215, 217, 224);
    background-image: linear-gradient(
        to right top,
        #5191f0,
        #4ea4eb,
        #29b3f3,
        #5ccdf3,
        #4bd0f5
    );
    color: #fff !important;
}
.card-top-m:hover h6{
   
    color: #fff !important;
}

.head-1 {
    margin-top: 24px;
    font-weight: 500;
    color: #000;
}

.img-center {
    display: block;
    margin: auto;
}

.box-sh {
    -webkit-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
}

.card-cont {
    margin-top: 80px;
    background-color: #fff;
    /* -webkit-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 10px -4px rgba(0, 0, 0, 0.75); */
    border-radius: 10px;
}
.card-row {
    display: flex;
    text-align: center;
}
.fafa-icon {
    color: #000 !important;
}
.my-btn {
    background-color: none !important;
    border: none !important;
    outline: none !important;
    color: #000 !important;
    text-decoration: none !important;
}
.upld-btn {
    font-size: 0.9rem;
}
.upload-btn-div {
    position: relative;
    overflow: hidden;
}
.upld-input {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}
.card-img{
    height: 64px;
    width: 64px!important;
}
.drop-cont{
    position: fixed;
    z-index: 1;
}
</style>
