<template>
  <div>
    <header id="header" class="fixed-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <div class="logo float-left">
              <a><img src="assets/img/logo.png" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <div class="col-6">
            <div>
              <h3 class="logo-text">CHP MIS BUDGET</h3>
            </div>
          </div>
          <div class="col-3">
            <div class="noti-div">
              <button
                type="button"
                v-on:click="backbtn()"
                class="btn btn-light head-btn mr-2"
              >
                <i class="fas fa-arrow-left myfafa-icon"></i>
              </button>
              <button
                v-on:click="index()"
                type="button"
                class="btn btn-light head-btn mr-2 ml-2"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Home"
              >
                <i class="fas fa-home myfafa-icon"></i>
              </button>

              <div
                class="btn-group"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Profile"
              >
                <button
                  type="button"
                  class="btn btn-light dropdown-toggle head-btn ml-2"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fas fa-user myfafa-icon"></i>
                </button>

                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" v-on:click="profile()">
                      <i class="far fa-user"></i>
                      Profile</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="far fa-bell"></i>
                      Notification</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item logout" v-on:click="logout()">
                      <i class="fas fa-sign-out-alt"></i>
                      Log Out</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="noti-div-2">
              <small class="pt-2 back-pad">Back</small>
              <small class="pt-2 pr-4">Home</small>
              <small class="pt-2">Profile</small>
            </div>
          </div>
        </div>

        <nav class="main-nav float-right d-none d-lg-block"></nav>
        <!-- .main-nav -->
      </div>
    </header>
    <div class="container-fluid card-cont drop-cont">
      <div class="row box-sh card-row">
        <div class="col-6">
          <div class="p-1 d-flex text-center justify-content-end">
            <div class="dropdown">
              <button
                class="btn btn-link my-btn drop-cont-btn p-1 dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-users myfafa-icon pr-1"></i>
                Create a user
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" v-on:click="organizationPage()">Organization</a>
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="designationPage()">Designation</a>
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="memberPage()">Members</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="p-1 d-flex text-center justify-content-start">
            <div class="dropdown">
              <button
                class="btn btn-link my-btn drop-cont-btn p-1 dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-chart-pie myfafa-icon pr-1"></i>
                Analysis
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" v-on:click="existingdbPage()">Existing Database</a>
                </li>
                

                <li>
                  <a class="dropdown-item" v-on:click="newdbPage()">New Database</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
   
    <main id="main">
      <section>
        <section
          class="bi-cont"
          style="background-image: url(assets/img/finance-bg.jpg)"
        >
          <div class="container-fluid h-100 ">
            <div class="row g-0 card-row">
              <div class="col-md-12">
                <iframe width="100%" height="500px" src="https://app.powerbi.com/view?r=eyJrIjoiNzczMjQ5MTYtYzM1OS00NjFkLThhNTUtNWFjMTJiZjRjODAzIiwidCI6ImVmODhkZmU4LTk3MDAtNDI3Yy04ODM3LTNjMzc1YWUyMDUyMCJ9" frameborder="0" allowFullScreen="true"></iframe>
                  <!-- <iframe width="100%" height="500px" src="https://app.powerbi.com/view?r=eyJrIjoiODNlNGI5MGItNzczNi00YTY4LWFjMDYtMDYyNTNmMDY5NDlhIiwidCI6ImVmODhkZmU4LTk3MDAtNDI3Yy04ODM3LTNjMzc1YWUyMDUyMCJ9" frameborder="0" allowFullScreen="true"></iframe> -->
              </div>
            </div>
          </div>
        </section>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  </div>
</template>

<script>

export default {
    name:"PowerbiComponent",
    data(){
        return{

        }
    },
    methods:{
        organizationPage(){
      this.$router.push('/organization');
    },
    designationPage(){
      this.$router.push('/designation');
    },
    memberPage(){
      this.$router.push('/team_member');
    },
    existingdbPage(){
      this.$router.push('/index1');
    },
    newdbPage(){
      this.$router.push('/upload_file');
    },
    logout() {
            const delToken = localStorage.removeItem("user");
            this.$router.push("/");
        },
        profile() {
            this.$router.push("/profile");
        },
        backbtn(){
            this.$router.push('/index1');
        },
        index(){
            this.$router.push('/index');
        }
    }

}
</script>

<style>
 .bi-cont{
    padding-top: 130px;
}
</style>