<template>
    <div>
        <!-- ======= Header ======= -->
        <header id="header" class="fixed-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <div class="logo float-left">
              <a><img src="assets/img/logo.png" alt="" class="img-fluid" /></a>
            </div>
          </div>
          <div class="col-6">
            <div>
              <h3 class="logo-text">CHP MIS BUDGET</h3>
            </div>
          </div>
          <div class="col-3">
            <div class="noti-div">
              <button
                type="button"
                v-on:click="backbtn()"
                class="btn btn-light head-btn mr-2"
              >
                <i class="fas fa-arrow-left myfafa-icon"></i>
              </button>
              <button
                v-on:click="index()"
                type="button"
                class="btn btn-light head-btn mr-2 ml-2"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Home"
              >
                <i class="fas fa-home myfafa-icon"></i>
              </button>

              <div
                class="btn-group"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="Profile"
              >
                <button
                  type="button"
                  class="btn btn-light dropdown-toggle head-btn ml-2"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fas fa-user myfafa-icon"></i>
                </button>

                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" v-on:click="profile()">
                      <i class="far fa-user"></i>
                      Profile</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">
                      <i class="far fa-bell"></i>
                      Notification</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item logout" v-on:click="logout()">
                      <i class="fas fa-sign-out-alt"></i>
                      Log Out</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="noti-div-2">
              <small class="pt-2 back-pad">Back</small>
              <small class="pt-2 pr-4">Home</small>
              <small class="pt-2">Profile</small>
            </div>
          </div>
        </div>

        <nav class="main-nav float-right d-none d-lg-block"></nav>
        <!-- .main-nav -->
      </div>
    </header>
        <!-- #header -->

        <section class="profile-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 form-col">
                        <!--      Wizard container        -->
                        <div class="wizard-container">
                            <div
                                class="card wizard-card"
                                data-color="orange"
                                id="wizardProfile"
                            >
                                <form action="" method="">
                                    <div class="wizard-header p-3">
                                       <div class="pt-4 pb-4 avatar-div">
                                                    <img src="assets/img/user.png" alt="" class="avatar-img">
                                                </div>
                                        <div class="row">
                                            <!-- <div class="col-md-6 border-right ">
                                                <div class="pt-4 pb-4 avatar-div">
                                                    <img src="assets/img/default-avatar.png" alt="" class="avatar-img">
                                                </div>
                                            </div> -->
                                            <div class="col-md-12">
                                                <div class="text-center d-flex justify-content-center">
                                                    <form class="text-center">
                                                        <div class="mb-3 ">
                                                            
                                                            
                                                           <div class="d-flex">
                                                               <h5 class="pr-2">Name:</h5>
                                                               <h5> Person Name</h5>
                                                           </div>
                                                           
                                                        </div>
                                                         <div class="mb-3">
                                                            <div class="d-flex">
                                                               <h5 class="pr-2">Mobile:</h5>
                                                               <h5>1234567891</h5>
                                                           </div>
                                                        </div>
                                                        <div class="mb-3">
                                                            <div class="d-flex">
                                                               <h5 class="pr-2">Email:</h5>
                                                               <h5>admin@finance.com</h5>
                                                           </div>
                                                        </div>
                                                         <div class="mb-3">
                                                            <div class="d-flex">
                                                               <h5 class="pr-2">Role:</h5>
                                                               <h5>Admin</h5>
                                                           </div>
                                                        </div>
                                                        <div class="mb-3">
                                                           <div class="d-flex">
                                                               <h5 class="pr-2">Organization:</h5>
                                                               <h5>Government</h5>
                                                           </div>
                                                          
                                                        </div>
                                                        <div class="mb-3">
                                                           <div class="d-flex">
                                                               <h5 class="pr-2">Department:</h5>
                                                               <h5>Health</h5>
                                                           </div>
                                                          
                                                        </div>
                                                        
                                                        <button
                                                            type="submit"
                                                            class="btn btn-primary"
                                                        >
                                                        Edit
                                                        </button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- wizard container -->
                    </div>
                </div>
                <!-- end row -->
            </div>
        </section>

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    </div>
</template>

<script>
export default {
    name: "ProfileComponent",
    data(){
        return{

        }
    },
    methods:{

        home(){
            this.$router.push('/index');
        },
        logout(){
              const delToken = localStorage.removeItem('user');
              this.$router.push('/'); 
            },
            
        backbtn(){
            this.$router.push('/create_user');
        },
    }
};
</script>

<style>
.profile-section {
    padding-top: 120px;
}
.avatar-img{
     height: 150px;
     width: 150px;
}
.avatar-div{
 display: flex;
 justify-content: center;
}
.form-col{
    display: block;
    margin: auto;
}
</style>