<template>
    <div>
       <header id="header" class="fixed-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <div class="logo float-left">
                            <a
                                ><img
                                    src="assets/img/logo.png"
                                    alt=""
                                    class="img-fluid"
                            /></a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            <h3 class="logo-text">CHP MIS BUDGET</h3>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="noti-div">
                            <b-spinner class="spinning" variant="dark" label="Spinning" v-if="loader==false"></b-spinner>
                            <button
                                type="button"
                                v-on:click="backbtn()"
                                class="btn btn-light head-btn mr-2"
                            >
                                <i class="fas fa-arrow-left myfafa-icon"></i>
                            </button>
                            <button
                                v-on:click="index()"
                                type="button"
                                class="btn btn-light head-btn mr-2 ml-2"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="Home"
                            >
                                <i class="fas fa-home myfafa-icon"></i>
                            </button>

                            <div
                                class="btn-group"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="Profile"
                            >
                                <button
                                    type="button"
                                    class="btn btn-light dropdown-toggle head-btn ml-2"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    <i class="fas fa-user myfafa-icon"></i>
                                </button>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            v-on:click="profile()"
                                        >
                                            <i class="far fa-user"></i>
                                            Profile</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="far fa-bell"></i>
                                            Notification</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item logout"
                                            v-on:click="logout()"
                                        >
                                            <i class="fas fa-sign-out-alt"></i>
                                            Log Out</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="noti-div-2">
                            <small class="pt-2 back-pad">Back</small>
                            <small class="pt-2 pr-4">Home</small>
                            <small class="pt-2">Profile</small>
                        </div>
                    </div>
                </div>

                <nav class="main-nav float-right d-none d-lg-block"></nav>
                <!-- .main-nav -->
            </div>
        </header>
        <div class="container-fluid card-cont drop-cont">
      <div class="row box-sh card-row">
        <div class="col-6">
          <div class="p-1 d-flex text-center justify-content-end">
            <div class="dropdown">
              <button
                class="btn btn-link my-btn drop-cont-btn p-1 dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-users myfafa-icon pr-1"></i>
                Create a user
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" v-on:click="organizationPage()">Organization</a>
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="designationPage()">Designation</a>
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="memberPage()">Members</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="p-1 d-flex text-center justify-content-start">
            <div class="dropdown">
              <button
                class="btn btn-link my-btn drop-cont-btn p-1 dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-chart-pie myfafa-icon pr-1"></i>
                Analysis
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" v-on:click="existingdbPage()">Existing Database</a>
                </li>

                <li>
                  <a class="dropdown-item" v-on:click="newdbPage()">New Database</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
        <main id="main">
            <section>
                <section
                    class="vh-100 after-login-container pt-5 mt-2"
                    style="background-image: url(assets/img/finance-bg.jpg);"
                >
               
                    <div class="container py-5 h-100 after-login-container">
                        <div
                            class="row d-flex justify-content-center align-items-center h-100"
                        >
                            <div class="col col-xl-8">
                                <div class="card" style="border-radius: 1rem;">
                                    <div class="row g-0">
                                        <div
                                            class="col-md-12 d-none d-md-block  card-col"
                                        >
                                        <form id="mainFormUsers">
                                            <div
                                                class="card-body  text-black text-center"
                                            >
                                                <div class="pt-4">
                                                    <img
                                                        src="assets/img/upload.png"
                                                        alt="img" class="profile-icon  mb-3"
                                                    />
                                                     <div class=" pb-4">
                                                    <h5>
                                                        Upload File
                                                    </h5>
                                                </div>
                                                    <div class="input-group pb-4">
                                                        <input
                                                            type="file"
                                                            name="select_excel_file"
                                                            class="form-control"
                                                            id="inputGroupFile04"
                                                            aria-describedby="inputGroupFileAddon04"
                                                            aria-label="Upload"
                                                        />
                                                        <button
                                                            class="btn btn-info"
                                                            type="button"
                                                            id="inputGroupFileAddon04"
                                                            @click.prevent="saveExcelUser"

                                                        >
                                                            Upload
                                                        </button>
                                                    </div>
                                                   
                                                </div>
                                               
                                            </div>
                                        </form>
                                        <div class="text-center mb-2">
                                        <a href="chp_mis_budget.xlsx" download>
                                        <button type="button" class="btn btn-primary">Download Sample</button>
                                        </a>
                                        <a v-on:click="clear()">
                                        <button type="button" class="btn btn-primary">Clear Database</button>
                                        </a>
                                        </div>
                                        
  
                                         <!-- <button v-on:click="downloadExcel()" class="btn btn-info">Download Excel</button> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </main>
        <!-- End #main -->

        <!-- ======= Footer ======= -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    </div>
</template>

<script>
import axios from "axios";
export default {
    name: "login",
    data() {
        return {
            email: "",
            password: "",
            loader:true
        };
    },
    methods: {
        backbtn(){
            this.$router.push('/analysis');
        },
        index(){
            this.$router.push('/index');
        },
         logout() {
            const delToken = localStorage.removeItem("user");
            this.$router.push("/");
        },
        organizationPage(){
      this.$router.push('/organization');
    },
    designationPage(){
      this.$router.push('/designation');
    },
    memberPage(){
      this.$router.push('/team_member');
    },
    existingdbPage(){
      this.$router.push('/index1');
    },
    newdbPage(){
      this.$router.push('/upload_file');
    },
        saveExcelUser(){
            this.loader=true;
            var data =  new FormData(document.getElementById('mainFormUsers'));
            axios
            .post('import',data)
            .then((response)=>{
               console.log(response);
               Swal.fire("Uploaded!", "Your file has been uploaded.", "success");
               this.loader=false;
            })
        },
            downloadExcel(){
                axios
                .get('export')
                .then((response)=>{
                    console.log(response);
                    //  FileSaver.saveAs(response.data.data, 'finance');

                });
            },
            clear(){
                this.loader=true;
                Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((response)=>{
          if (response.isConfirmed) {
            console.log("hi")
          axios
            .get("delete_db")
            .then((response) => {
              Swal.fire("Deleted!", "Database has been cleared.", "success"); 
              this.loader=false;             
            });
        }
      });
            //     axios
            //     .get('delete_db')
            //     .then((response)=>{
            //         console.log(response);
            //         Swal.fire({
            //             position: 'center',
            //   icon: 'success',
            //   title: 'Database Clear Successfully!',
            //   showConfirmButton: false,
            //   timer: 1500
            //         });
            //     });
            }
    }
};
</script>

<style>
.my-cont {
    padding-top: 100px !important;
}
.chp-login-form {
    border: 1px solid black;
}
.finance-login-button {
    width: 100px;
    height: 40px;
}
.finance-img {
    height: 350px !important;
}
.finance-form {
    height: 350px;
}
.after-login-container {
    padding-top: 30px !important;
}
.profile-icon {
    height: 100px;
    width: 100px;
}
.after-login-btn {
    color: #fff !important;
    border-radius: 50% !important;
}
.card-col:hover {
    background-image: linear-gradient(
        to right top,
        #5191f0,
        #4ea4eb,
        #29b3f3,
        #5ccdf3,
        #4bd0f5
    );
    color: #fff;
    border-radius: 10px;
}

.card-col .after-login-btn:hover {
    background-color: rgb(28, 60, 243);
    color: #fff;
}
.head-btn {
    color: #fff !important;
}
.spinning{
    position: absolute;
    z-index: 99;
    top: 275px;
    left:-410px
}
</style>
