<template>
    <div>
        <!-- ======= Header ======= -->
       <header id="header" class="fixed-top">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-3">
                        <div class="logo float-left">
                            <a
                                ><img
                                    src="assets/img/logo.png"
                                    alt=""
                                    class="img-fluid"
                            /></a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            <h3 class="logo-text">CHP MIS BUDGET</h3>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="noti-div">
                            <button
                                type="button"
                                v-on:click="backbtn()"
                                class="btn btn-light head-btn mr-2"
                            >
                                <i class="fas fa-arrow-left myfafa-icon"></i>
                            </button>
                            <button
                                v-on:click="index()"
                                type="button"
                                class="btn btn-light head-btn mr-2 ml-2"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="Home"
                            >
                                <i class="fas fa-home myfafa-icon"></i>
                            </button>

                            <div
                                class="btn-group"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title="Profile"
                            >
                                <button
                                    type="button"
                                    class="btn btn-light dropdown-toggle head-btn ml-2"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    <i class="fas fa-user myfafa-icon"></i>
                                </button>

                                <ul class="dropdown-menu">
                                    <li>
                                        <a
                                            class="dropdown-item"
                                            v-on:click="profile()"
                                        >
                                            <i class="far fa-user"></i>
                                            Profile</a
                                        >
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            <i class="far fa-bell"></i>
                                            Notification</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item logout"
                                            v-on:click="logout()"
                                        >
                                            <i class="fas fa-sign-out-alt"></i>
                                            Log Out</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="noti-div-2">
                            <small class="pt-2 back-pad">Back</small>
                            <small class="pt-2 pr-4">Home</small>
                            <small class="pt-2">Profile</small>
                        </div>
                    </div>
                </div>

                <nav class="main-nav float-right d-none d-lg-block"></nav>
                <!-- .main-nav -->
            </div>
        </header>
<div class="container-fluid card-cont">
      <div class="row box-sh card-row">
        <div class="col-6">
          <div class="p-1 d-flex text-center justify-content-end">
            <div class="dropdown">
              <button
                class="btn btn-link my-btn drop-cont-btn p-1 dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-users myfafa-icon pr-1"></i>
                Create a user
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" v-on:click="organizationPage()">Organization</a>
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="designationPage()">Designation</a>
                </li>
                <li>
                  <a class="dropdown-item" v-on:click="memberPage()">Members</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="p-1 d-flex text-center justify-content-start">
            <div class="dropdown">
              <button
                class="btn btn-link my-btn drop-cont-btn p-1 dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fas fa-chart-pie myfafa-icon pr-1"></i>
                Analysis
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <a class="dropdown-item" v-on:click="existingdbPage()">Existing Database</a>
                </li>
                

                <li>
                  <a class="dropdown-item" v-on:click="newdbPage()">New Database</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
        <section class="add-member ">
            <div class="container-fluid">
                <div class="row ">
                   
                    <!-- table -->

                    <div class="col-md-12">
                        <div class="d-flex w-100 justify-content-between">
                            
                            <div class="pl-3 team-text">
                                <h3 class="text-left">Utilization Entry</h3>
                            </div>
                            <div class="">
                               
                            </div>
                            <div class=" d-flex justify-content-end">
                                 <input
                                    class="form-control "
                                    id="myInput"
                                    type="text"
                                    placeholder="Search.."
                                />
                                <a href="#"  class="pl-3"> <button type="button" v-on:click="utilEntry()" class="btn btn-primary pl-3">
                                    Add Entry
                                </button></a>
                               
                            </div>
                        </div>

                        <br />
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Sr. No.</th>
                                    <th>Refrence No. / Letter No.</th>
                                    <th>Letter From</th>
                                     <th>Letter To</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Budget Line</th>
                                    <th>Download Certificate</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">
                                
                                <tr v-for="(data,index) in allData" i = index :key="data.id" :value="data.id">
                                    <td>{{index+1}}</td>
                                    <td>{{data.name}}</td>
                                    <td>{{data.mobile}}</td>
                                    <td>{{data.email}}</td>
                                    <td v-if="data.role_id == 1">Super Admin</td>
                                    <td v-else>Admin</td>
                                    <td>{{data.organization}}</td>
                                    <td>{{data.organization}}</td>
                                    <td class="text-center"><i class="fas fa-file-pdf fa-color"></i> &nbsp;&nbsp;&nbsp;<i class="fas fa-download"></i></td>
                                    <td>
                                        <button
                                            type="button"
                                            class="btn btn-success mr-3  "
                                            data-bs-toggle="modal" data-bs-target="#editmember"
                                            v-on:click="editMember(data.id)"

                                        >
                                            <i class="fas fa-pencil-alt"></i>
                                        </button>
                                        <button
                                            type="button"
                                            class="btn btn-danger"
                                            v-on:click="deleteMember(data.id)"
                                        >
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <!-- add member modal start-->
       
        <div
            class="modal fade"
            id="addmember"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog add-member-modal-dialog">
                <form v-on:submit.prevent="addMember()">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">
                             Add Member
                            </h4>
                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                             <div class="col-md-12 col-sm-12">
                        <div class="div-body">
                            <div class="row">
                                <div class="col-12">
                                    <!-- <h2 class="text-center pb-5">Add Member</h2> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-1">
                                            <div class="form-row">
                                                <div class="col-md-6 mb-3">
                                                    <label
                                                        for="Name"
                                                        class="form-label"
                                                    >
                                                        Name</label
                                                    >
                                                    <input
                                                        type="text"
                                                        class="form-control form-control-2"
                                                        id="Name"
                                                        placeholder=""
                                                        required
                                                        name="Name"
                                                        v-model="name"
                                                    />
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label
                                                        for="Mobile"
                                                        class="form-label"
                                                        >Mobile Number</label
                                                    >
                                                    <div class="input-group">
                                                        <input
                                                            type="tel"
                                                            class="form-control form-control-2"
                                                            required
                                                             pattern="{10}"
                                                             maxlength="10"
                                                            
                                                            v-model="mobile"
                                                        />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-md-6 mb-3">
                                                    <label
                                                        for="Email"
                                                        class="form-label "
                                                        >Email Address</label
                                                    >
                                                    <div class="input-group">
                                                        <input
                                                            type="email"
                                                            class="form-control form-control-2"
                                                            id="Email"
                                                            placeholder=""
                                                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                                            v-model="email"
                                                        />
                                                    </div>
                                                </div>
                                                <div
                                                    class="form-group col-md-6"
                                                >
                                                    <label for="Role"
                                                        >Role</label
                                                    >
                                                    <select
                                                        id="Role"
                                                        class="form-control"
                                                        v-model="role"
                                                    >
                                                        <option value=""
                                                            >Select a
                                                            role</option
                                                        >
                                                        <option value="2"
                                                            >Admin</option
                                                        >
                                                        <option value="1"
                                                            >Super Admin</option
                                                        >
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                 <div
                                                    class="form-group col-md-6 "
                                                >
                                                    <label for="Role"
                                                        >Organization</label
                                                    >
                                                    <select
                                                        id="Role"
                                                        class="form-control"
                                                        v-model="organization"
                                                        @change="openOrganization()"
                                                    >
                                                    <option value="">Select Organization</option>
                                                    <option v-for="organ in organization1" :key="organ.id" :value="organ.organization">
                                                        {{organ.organization}}
                                                    </option>
                                                    </select>
                                                </div>
                                                <div
                                                    class="form-group col-md-6"
                                                >
                                                    <label for="Role"
                                                        >Designation</label
                                                    >
                                                    <select
                                                        id="Role"
                                                        class="form-control"
                                                        v-model="designation"
                                                    >
                                                    <option value="">Select Designation</option>
                                                    <option v-for="design in designation1" :key="design.id" :value="design.designation">
                                                        {{design.designation}}
                                                    </option>
                                                    </select>
                                                </div>
                                               
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-12">
                                                    <label
                                                        for="Password"
                                                        class="form-label"
                                                        >Password</label
                                                    >
                                                    <div class="input-group">
                                                        <input
                                                            type="Password"
                                                            class="form-control form-control-2"
                                                            id="Password"
                                                            placeholder=""
                                                            v-model="password"
                                                        />
                                                    </div>
                                                </div>
                                            </div>

                                          
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                            >
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary">
                                Add
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- add member modal end -->

        <!-- edit member modal start -->

          <div
            class="modal fade"
            id="editmember"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog add-member-modal-dialog">
                <form v-on:submit.prevent="updateMember()">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">
                             Edit Member
                            </h4>
                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                             <div class="col-md-12 col-sm-12">
                        <div class="div-body">
                            <div class="row">
                                <div class="col-12">
                                    <!-- <h2 class="text-center pb-5">Add Member</h2> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-1">
                                        
                                            <div class="form-row">
                                                <div class="col-md-6 mb-3">
                                                    <label
                                                        for="Name"
                                                        class="form-label"
                                                    >
                                                        Name</label
                                                    >
                                                    <input
                                                        type="text"
                                                        class="form-control form-control-2"
                                                        id="Name"
                                                        placeholder=""
                                                        required
                                                        v-model="memberData.name"

                                                    />
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <label
                                                        for="Mobile"
                                                        class="form-label"
                                                        >Mobile Number</label
                                                    >
                                                    <div class="input-group">
                                                        <input
                                                            type="number"
                                                            class="form-control form-control-2"
                                                            id="phone"
                                                            v-model="memberData.mobile"
                                                        />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-md-6 mb-3">
                                                    <label
                                                        for="Email"
                                                        class="form-label "
                                                        >Email Address</label
                                                    >
                                                    <div class="input-group">
                                                        <input
                                                            type="email"
                                                            class="form-control form-control-2"
                                                            id="Email"
                                                            placeholder=""
                                                            v-model="memberData.email"
                                                        />
                                                    </div>
                                                </div>
                                                <div
                                                    class="form-group col-md-6"
                                                >
                                                    <label for="Role"
                                                        >Role</label
                                                    >
                                                    <select
                                                        id="Role"
                                                        class="form-control"
                                                        v-model="memberData.role_id"
                                                    >
                                                        <option value=""
                                                            >Select
                                                            role</option
                                                        >
                                                        <option value="2"
                                                            >Admin</option
                                                        >
                                                        <option value="1"
                                                            >Super Admin</option
                                                        >
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div
                                                    class="form-group col-md-6 "
                                                >
                                                    <label for="Role"
                                                        >Organization</label
                                                    >
                                                    <select
                                                        id="Role"
                                                        class="form-control"
                                                        v-model="memberData.organization"
                                                    >
                                                     <option value=""
                                                            >Select Organization</option
                                                        >
                                                       <option v-for="organ in organization1" :key="organ.id" :value="organ.organization">
                                                           {{organ.organization}}
                                                       </option>
                                                    </select>
                                                </div>
                                                <div
                                                    class="form-group col-md-6"
                                                >
                                                    <label for="Role"
                                                        >Designation</label
                                                    >
                                                    <select
                                                        id="Role"
                                                        class="form-control"
                                                        v-model="memberData.designation"
                                                    >
                                                     <option value="">Select Designation</option>
                                                     <option v-for="design in designation1" :key="design.id" :value="design.designation">
                                                         {{design.designation}}
                                                     </option>
                                                        
                                                    </select>
                                                </div>
                                                
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-12">
                                                    <label
                                                        for="Password"
                                                        class="form-label"
                                                        >Password</label
                                                    >
                                                    <div class="input-group">
                                                        <input
                                                            type="text"
                                                            class="form-control form-control-2"
                                                            id="Password"
                                                            v-model="memberData.password"
                                                            placeholder="Enter New Password"
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                            >
                                Close
                            </button>
                            <button type="submit" class="btn btn-primary">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- edit member modal end  -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    </div>
</template>

<script>
import axios from "axios";
export default {
    name: "TeamMemberComponent",
    data() {
        return {
            name: "",
            email: "",
            mobile: "",
            role: "",
            password: "",
            organization: "",
            designation:"",
            organization1:'',
            designation1:'',
            allData:'',
            memberData:''

        };
    },
    mounted() {
        this.openOrganization();
        this.openDesignation();
        this.allMember();
    },
    methods: {
        addMember() {
            axios
                .post("/add_member", {
                    name: this.name,
                    email: this.email,
                    mobile: this.mobile,
                    role: this.role,
                    password: this.password,
                    organization: this.organization,
                    designation: this.designation
                })
                .then(response => {
                    Swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Added Successfully!',
              showConfirmButton: false,
              timer: 1500
            })
            this.name = this.email = this.mobile = this.role = this.password = this.organization = this.designation = "";
            this.allMember();
                });
        },
        openOrganization() {
            axios
            .get("/all_organization")
            .then(response => {
                this.organization1 = response.data.data;
                console.log(this.organization,'xs');
            });
        },
        openDesignation() {
            axios
            .get("/all_designation")
            .then(response => {
                console.log(response.data.data,'resposne');
                this.designation1 = response.data.data;
                console.log(this.designation1,'xs');
            });
        },
        index() {
            this.$router.push("/index");
        },
        profile() {
            this.$router.push("/profile");
        },
        logout() {
            const delToken = localStorage.removeItem("user");
            this.$router.push("/");
        },
        allMember(){
            axios
            .get('all_member')
            .then((response)=>{
                this.allData = response.data.data;
                console.log(this.allData,'all_data');
            });
        },
        backbtn(){
            this.$router.push('/index');
        },
        editMember(id){
            axios
            .get('edit_member/'+ id)
            .then((response)=>{
                this.memberData = response.data.data;
                console.log(this.memberData,'memberData');
            })
        },
        updateMember(){
            axios
            .post('update_member',this.memberData)
            .then((response)=>{
                  Swal.fire({
              position: 'center',
              icon: 'success',
              title: 'Updated Successfully!',
              showConfirmButton: false,
              timer: 1500
            })
            this.allMember();
            this.memberData = '';

            })
        },
        organizationPage(){
      this.$router.push('/organization');
    },
    designationPage(){
      this.$router.push('/designation');
    },
    memberPage(){
      this.$router.push('/team_member');
    },
    existingdbPage(){
      this.$router.push('/index1');
    },
    newdbPage(){
      this.$router.push('/upload_file');
    },
    utilEntry(){
        this.$router.push('/utilization_entry');
    },
    deleteMember(id){
            Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, delete it!",
      }).then((response) => {
        if (response.isConfirmed) {
            console.log("hi")
          axios
            .get("delete_member/" + id)
            .then((response) => {
               this.allMember();
              Swal.fire("Deleted!", "Your file has been deleted.", "success");              
            });
        }
      });
        }

    }
};
</script>

<style>


.add-member {
    padding: 45px 0 30px;
 
}
.fa-color{
    
    color: #D0211C;
    font-size: 30px;
}
.submit-btn {
    width: 120px;
}

.add-member-modal-dialog{
    max-width: 750px!important;
}
</style>
